.twmbt0p[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--jx-zk-pv);color:var(--cnr-vp-o);}
.tv8v5pb[class][class]{color:var(--f-k-smk-x);font-weight:var(--e-y-j-d-v-j);font-size:var(--font-size-message-thread-text-messages,16px);line-height:var(--font-height-message-thread-text-messages,24px);line-break:loose;word-break:break-word;}

.s2n3wo7[class][class]{color:var(--iw-ihca);}
.dir.i1i322je[class][class]{border-radius:4px;background-size:contain;background-repeat:no-repeat;}

.s3yskv3[class][class]{opacity:0.5;}

.dir.s3yskv3[class][class]{animation-name:sending-animation-s3yskv3;animation-duration:2s;animation-iteration-count:infinite;}

@keyframes sending-animation-s3yskv3{
0%{opacity:0.5;}

50%{opacity:0.2;}

100%{opacity:0.5;}}
.b14qu62e[class][class]{padding:24px;flex:1 1 auto;overflow-y:auto;-webkit-overflow-scrolling:touch;outline:none;display:flex;flex-direction:column;overflow-y:hidden;}

.dir.b14qu62e[class][class]{padding:24px 0;}

.dir.b14qu62e[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.b14qu62e[class][class]:focus::-moz-focus-inner{border:none;}

.b14qu62e[class][class]:-moz-focusring{outline:none;}

.dir.b14qu62e[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x),var(--e-swdx-p);}

@media (prefers-reduced-motion:reduce){
.dir.b14qu62e[class][class]:focus-visible{transition:none;}}

.dir.b14qu62e[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x),var(--e-swdx-p);}

@media (prefers-reduced-motion:reduce){
.dir.b14qu62e[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (min-width:744px){
.dir.b14qu62e[class][class]{padding:24px 96px;}}

.c7i6292[class][class]{height:100%;display:flex;flex-direction:row;}

.dir.c7i6292[class][class]{background-color:var(--bgxgx);}

.hloijkd[class][class]{height:56px;min-height:56px;}

.f1t6v91d[class][class]{height:56px;min-height:56px;}

.b1yakuyy[class][class]{flex-grow:1;flex-shrink:1;}

.dir.b1yakuyy[class][class]{background-position:center;background-repeat:no-repeat;background-size:contain;}
.c18nbfc1[class][class]{position:absolute;display:flex;top:16px;z-index:1;}

.dir-ltr.c18nbfc1[class][class]{left:24px;}

.dir-rtl.c18nbfc1[class][class]{right:24px;}

@media (min-width:744px){
.c18nbfc1[class][class]{top:24px;}}
.dir.b14najdf[class][class]{margin:0 16px 16px 16px;}
.cp68eyg[class][class]{position:relative;display:flex;flex-direction:row;align-items:center;flex-grow:1;}

.dir-ltr.cp68eyg[class][class]{margin:0 24px 4px 11px;}

.dir-rtl.cp68eyg[class][class]{margin:0 11px 4px 24px;}

.o1f1deyb[class][class]{max-width:688px;}

.dir.o1f1deyb[class][class]{margin:0 auto;}
.c1w12wz0[class][class]{box-shadow:inset 0 0 0 1px grey;box-sizing:border-box;color:var(--f-k-smk-x);border-radius:var(--go-h-jh-l);width:100%;display:flex;flex-direction:column;}

.dir.c1w12wz0[class][class]{box-shadow:inset 0 0 0 1px var(--iw-ihca);padding:2px;margin:14px 0;border-radius:var(--j-mdfu-h);}

.dir-ltr.tww5u9d[class][class]{margin-right:36px;}

.dir-rtl.tww5u9d[class][class]{margin-left:36px;}

.l1wemjx2[class][class]{display:flex;flex-direction:row;align-items:flex-end;position:relative;justify-content:space-between;}

.ojs2cbu[class][class]{display:flex;flex-direction:row;justify-content:flex-end;align-items:flex-end;position:relative;height:0;}

.c1122jta[class][class]{box-shadow:inset 0 0 0 2px black;}

.dir.c1122jta[class][class]{box-shadow:inset 0 0 0 2px var(--f-k-smk-x);}

.c1ltfm8b[class][class]{background-color:mistyrose;box-shadow:inset 0 0 0 1px firebrick;}

.dir.c1ltfm8b[class][class]{background-color:var(--f-p-k-v-lb);box-shadow:inset 0 0 0 1px var(--k-va-tnc);}

.c17tp91i[class][class]{background-color:grey;color:var(--j-qkgmf);}

.dir.c17tp91i[class][class]{background-color:var(---pc-g-v-g);box-shadow:inset 0 0 0 1px var(--d-nc-lt-s);}

.c1md6muk[class][class]{box-shadow:inset 0 0 0 2px black;}

.dir.c1md6muk[class][class]{box-shadow:inset 0 0 0 2px var(--k-va-tnc);}

.wn9vk1f[class][class]{width:100%;}

.t1sc6kfc[class][class]{color:inherit;display:block;min-width:100%;max-width:100%;outline:none;box-sizing:border-box;background-color:transparent;-webkit-appearance:none;padding:8px;font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);font-weight:var(--e-y-j-d-v-j);min-width:auto;resize:none;width:100%;min-height:var(--f-fw-z-a-i);flex-grow:1;line-height:22px;}

.dir.t1sc6kfc[class][class]{border:none;margin:0;padding:9px 8px;border-width:0;background-color:var(--f-mkcy-f);border-radius:var(--j-mdfu-h);}

.dir-ltr.t1sc6kfc[class][class]{margin-right:1px;}

.dir-rtl.t1sc6kfc[class][class]{margin-left:1px;}

.dir.t1sc6kfc[class][class]:disabled{cursor:not-allowed;}

.t1sc6kfc[class][class]::placeholder{color:var(--fo-jk-r-s);opacity:1;white-space:nowrap;overflow:hidden;}

.t12bjlfm[class][class]{max-height:var(--f-fw-z-a-i);}

.s1dv44lz[class][class]{height:var(--ic-zlb-s);opacity:1;}

.dir.s1dv44lz[class][class]{margin:6px;margin-bottom:var(--fgg-f-l-a);transition-duration:0.5s;}

.ssri3q4[class][class]{opacity:0;}

.dir.ssri3q4[class][class]{cursor:default;}

.ld0gavf[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.ld0gavf[class][class]{border:0;padding:0;}
.aw2wrqv[class][class]{width:var(--attachment-moweb-close-size);position:relative;}

.dir.aw2wrqv[class][class]{margin:0 12px 12px 12px;}

@media (min-width:744px){
.aw2wrqv[class][class]{width:var(--attachment-close-size);}}

.c16wdqlt[class][class]{position:absolute;top:8px;}

.dir-ltr.c16wdqlt[class][class]{right:4px;}

.dir-rtl.c16wdqlt[class][class]{left:4px;}

.dir.c74in40[class][class]{background-color:transparent;border:none;border-radius:50%;padding:4px;}

.dir.c74in40[class][class]:hover{background-color:var(--j-qkgmf);}

.dir.c74in40[class][class]:active{background-color:var(--j-qkgmf);}

.dir.c74in40[class][class]:focus{background-color:var(--j-qkgmf);}
.dir.sfqsfgw[class][class]{margin-top:var(--sfqsfgw-0);margin-bottom:var(--sfqsfgw-1);}

.dir-ltr.sfqsfgw[class][class]{margin-left:var(--sfqsfgw-2);margin-right:var(--sfqsfgw-3);}

.dir-rtl.sfqsfgw[class][class]{margin-right:var(--sfqsfgw-2);margin-left:var(--sfqsfgw-3);}
.c6s0mdi[class][class]{position:relative;}
.w1coeyl2[class][class]{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;color:var(--k-va-tnc);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.w1coeyl2[class][class]{margin-top:4px;margin-bottom:4px;}

.dir.i1a4cg1o[class][class]{margin-right:4px;margin-left:4px;}
.w1e49311[class][class]{display:flex;flex-direction:row;flex-wrap:wrap;align-items:center;color:var(--k-va-tnc);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.w1e49311[class][class]{margin-top:4px;margin-bottom:4px;}

.dir.imkut7x[class][class]{margin-right:4px;margin-left:4px;}
.c1wp1zxs[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);color:var(--f-k-smk-x);font-weight:var(--e-y-j-d-v-j);width:100%;display:flex;align-items:center;}

.dir.c1wp1zxs[class][class]{padding-bottom:2px;padding-top:8px;}

.dir-ltr.ctn843i[class][class]{margin-left:5px;}

.dir-rtl.ctn843i[class][class]{margin-right:5px;}
.i1q0zu9[class][class]{width:24px;height:24px;}

.dir-ltr.i1q0zu9[class][class]{margin-left:4px;}

.dir-rtl.i1q0zu9[class][class]{margin-right:4px;}

.dir-ltr.i1q0zu9[class][class]:first-child{margin-left:0;}

.dir-rtl.i1q0zu9[class][class]:first-child{margin-right:0;}
.c89ais8[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;border-radius:0;color:inherit;display:block;padding:0;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;font-family:inherit;font-size:inherit;line-height:inherit;font-weight:inherit;outline:none;width:auto;height:32px;}

.dir.c89ais8[class][class]{border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;background:transparent;border:none;margin:0;text-align:inherit;border-radius:var(--i-g-gvoq);padding:4px;background-color:var(--f-mkcy-f);}

@media (prefers-reduced-motion:reduce){
.dir.c89ais8[class][class]{transition:none;}}

.c89ais8[class][class]:focus-visible{outline:none;}

.dir.c89ais8[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c89ais8[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c89ais8[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c89ais8[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c89ais8[class][class]:focus-visible{transition:none;}}

.c89ais8[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c89ais8[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c89ais8[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c89ais8[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c89ais8[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c89ais8[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c89ais8[class][class]:active{transform:scale(0.96);}

.c89ais8[class][class]:disabled{opacity:1;}

.dir.c89ais8[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c89ais8[class][class]:focus::-moz-focus-inner{border:none;}

.c89ais8[class][class]:-moz-focusring{outline:none;}

.dir.c89ais8[class][class]:focus-visible{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c89ais8[class][class]:focus-visible{transition:none;}}

.dir.c89ais8[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c89ais8[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c89ais8[class][class]:active{transform:none;}

.dir.c89ais8[class][class]:hover{box-shadow:inset 0 0 0 1px var(--iw-ihca);}
.c1os9z2c[class][class]{position:absolute;display:flex;flex-direction:row;justify-content:center;z-index:2;max-width:277px;top:var(--ic-zlb-s);}

.dir.c1os9z2c[class][class]{left:0;right:0;margin:0 auto;}

@media (min-width:375px){
.c1os9z2c[class][class]{top:var(--ic-zlb-s);}}

@media (min-width:744px){
.c1os9z2c[class][class]{top:var(--f-fw-z-a-i);}}

@media (min-width:950px){
.c1os9z2c[class][class]{top:var(--f-fw-z-a-i);}}

@media (min-width:1128px){
.c1os9z2c[class][class]{top:var(--cy-o-aco);}}

@media (min-width:1440px){
.c1os9z2c[class][class]{top:var(--cy-o-aco);}}
.bgqe3wg[class][class]{align-self:flex-end;display:flex;flex-direction:row;width:var(--button-panel-width);}

.dir.bgqe3wg[class][class]{margin-bottom:12px;transition:width 0.3s ease-out;}

.dir-ltr.bgqe3wg[class][class]{margin-right:8px;}

.dir-rtl.bgqe3wg[class][class]{margin-left:8px;}

.b4snov7[class][class]{height:48px;width:48px;display:flex;flex-direction:column;align-items:center;justify-content:center;}
.o80mim3[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;}

.dir.o80mim3[class][class]{right:0;left:0;animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;background:var(--f-k-smk-x);animation-name:overlayEnter-o80mim3;}

@media (min-width:744px){
.dir.o80mim3[class][class]{background:rgba(0,0,0,0.75);}}

@keyframes overlayEnter-o80mim3{
0%{opacity:0;}

100%{opacity:0.6;}}

@media (min-width:744px){
.dir.o80mim3[class][class]{background:transparent;}}

.dir.orncmib[class][class]{animation-name:overlayLeave-orncmib;}

@keyframes overlayLeave-orncmib{
0%{opacity:0.6;}

100%{opacity:0;}}

.oqdw241[class][class]{opacity:0.6;}
.dir.i1ie3oli[class][class]:nth-child(n + 2){border-top:1px solid var(--j-qkgmf);}

.i4nkp1s[class][class]{display:flex;justify-content:flex-start;flex-wrap:wrap;}
.izsdezf[class][class]{flex:0 0 25%;}
.dir.r184u9uu[class][class]{padding:var(--fgg-f-l-a);}
.i1brb1dr[class][class]{width:72px;}

.dir.i1brb1dr[class][class]{padding:16px 0;margin:0 auto;}

.ij0iq5w[class][class]{width:56px;height:56px;display:flex;justify-content:center;flex-direction:column;}

.dir.ij0iq5w[class][class]{border-radius:50%;border:1px solid var(--d-nc-lt-s);text-align:center;margin:0 auto;}

.i14q1dbg[class][class]{display:flex;justify-content:center;}

.g1y8xoa9[class][class]{font-size:var(--hr-k-udr);line-height:var(--dpgw-ac);white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;font-weight:var(--jx-zk-pv);color:var(--f-k-smk-x);}

.dir.g1y8xoa9[class][class]{margin-top:var(--fgg-f-l-a);text-align:center;}
.t1jkel7k[class][class]{width:100%;display:flex;flex-direction:row;}

.p1qq3a9l[class][class]{flex-shrink:0;vertical-align:middle;}

.a15id3in[class][class]{overflow:hidden;display:block;width:36px;height:36px;}

.dir.a15id3in[class][class]{background-color:var(--j-qkgmf);border-radius:100px;}

.urkqnug[class][class]{line-height:22px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;}

.dir.urkqnug[class][class]{text-align:start;}

@supports (overflow:clip){
.urkqnug[class][class]{overflow:clip;}}

.mid8s2g[class][class]{flex:1 0 100px;}

.dir-ltr.mid8s2g[class][class]{padding-left:12px;}

.dir-rtl.mid8s2g[class][class]{padding-right:12px;}

.m1gc3798[class][class]{display:flex;flex-direction:row;align-items:center;}

.dir.m1gc3798[class][class]{padding-bottom:2px;}

.dir.c1hm0hm5[class][class]{padding-bottom:8px;}

.s431ykc[class][class]{color:var(--f-k-smk-x);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--h-oqhch);display:inline-block;}

.dir-ltr.s431ykc[class][class]{padding-right:4px;}

.dir-rtl.s431ykc[class][class]{padding-left:4px;}

.d1npavzj[class][class]{color:var(--fo-jk-r-s);font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);font-weight:var(--e-y-j-d-v-j);display:inline-block;white-space:nowrap;}
.bewba3t[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;overflow:hidden;outline:none;}

.dir.bewba3t[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:50%;}

@media (hover:hover){
.bewba3t[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.bewba3t[class][class]:hover{cursor:pointer;}}

.bewba3t[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.bewba3t[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.bewba3t[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.dir.bewba3t[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.bewba3t[class][class]:focus::-moz-focus-inner{border:none;}

.bewba3t[class][class]:-moz-focusring{outline:none;}

.bewba3t[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.bewba3t[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.bewba3t[class][class]:focus-visible{transition:none;}}

.bewba3t[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.bewba3t[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.bewba3t[class][class]:focus[data-focus-visible-added]{transition:none;}}
.r55dyew[class][class]{font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);color:var(--fo-jk-r-s);font-weight:var(--e-y-j-d-v-j);}
.p1izb7br[class][class]{white-space:pre-wrap;}

.sayvgo7[class][class]{display:flex;align-items:center;}

.dir.sayvgo7[class][class]{margin-top:var(--jaa-ni-h);margin-bottom:var(--jaa-ni-h);}

.s562z5[class][class]{color:var(--ihf-tp-q);font-weight:var(--h-oqhch);}
.c1j3o911[class][class]{white-space:pre-line;}

.dir.i1mx5idy[class][class]{text-align:center;padding-top:40px;}

.s1prqzjf[class][class]{font-size:var(--y-g-ar-y);line-height:var(--cb-pewj);color:var(--fo-jk-r-s);font-weight:var(--h-oqhch);}
.t1qh7is9[class][class]{color:var(--f-k-smk-x);font-weight:var(--e-y-j-d-v-j);font-size:var(--font-size-message-thread-text-messages,16px);line-height:var(--font-height-message-thread-text-messages,24px);line-break:loose;word-break:break-word;}

.szq61vv[class][class]{color:var(--iw-ihca);}

.c1nee3uu[class][class]{position:absolute;top:-35px;z-index:10;}

.dir-ltr.c1nee3uu[class][class]{right:10px;}

.dir-rtl.c1nee3uu[class][class]{left:10px;}

.c1cdx5e[class][class]{position:relative;max-width:500px;}
.dir-ltr.lkripep[class][class]{padding-left:8px;}

.dir-rtl.lkripep[class][class]{padding-right:8px;}

.sta87qn[class][class]{list-style-type:'*';}

.d1cg4yy[class][class]{list-style-type:'-';}

.lrnmk36[class][class]{list-style-position:outside;}

.dir.lrnmk36[class][class]{margin-top:0;margin-bottom:0;}

.dir-ltr.lrnmk36[class][class]{padding-left:25px;}

.dir-rtl.lrnmk36[class][class]{padding-right:25px;}

.dir.h1h17q8c[class][class]{margin-top:12px;margin-bottom:4px;}
.bmxl5n6[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.bmxl5n6[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bmxl5n6[class][class]:disabled{opacity:0.3;}

.dir.bmxl5n6[class][class]:disabled{cursor:not-allowed;}

.c1av8pww[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.c1av8pww[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:var(--dc-gy-f-v);padding-top:8px;padding-bottom:8px;padding-left:16px;padding-right:16px;}

@media (prefers-reduced-motion:reduce){
.dir.c1av8pww[class][class]{transition:none;}}

.c1av8pww[class][class]:focus-visible{outline:none;}

.dir.c1av8pww[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1av8pww[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1av8pww[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1av8pww[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1av8pww[class][class]:focus-visible{transition:none;}}

.c1av8pww[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1av8pww[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1av8pww[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1av8pww[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1av8pww[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1av8pww[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1av8pww[class][class]:active{transform:scale(0.96);}

.c1av8pww[class][class]:disabled{opacity:1;}

@media (hover:hover){
.c1av8pww[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1av8pww[class][class]:hover{border:none;background:var(--dc-gy-f-v);}

.c1av8pww[class][class]:hover:disabled{color:var(--f-mkcy-f);}

.dir.c1av8pww[class][class]:hover:disabled{border:none;background:var(--j-qkgmf);}

.dir.c1av8pww[class][class]:hover:disabled:hover{background:var(--j-qkgmf);}}

.c1av8pww[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1av8pww[class][class]:active{border:none;background:var(--ihf-tp-q);}

.c1av8pww[class][class]:disabled{color:var(--f-mkcy-f);}

.dir.c1av8pww[class][class]:disabled{border:none;background:var(--j-qkgmf);}

.dir.c1av8pww[class][class]:disabled:hover{background:var(--j-qkgmf);}

.f1b49mz2[class][class]{width:100%;}

.sf8zsm2[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sf8zsm2[class][class]:not(:focus){border:0;padding:0;}
