.t5jos5n[class][class]{font-size:0;}

.dir.t5jos5n[class][class]{animation-duration:500ms;animation-iteration-count:1;animation-fill-mode:both;}

.dir.s1bmg94k[class][class]{animation-name:slideEnter-s1bmg94k;}

@keyframes slideEnter-s1bmg94k{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

.dir.f1i7e2pi[class][class]{animation-name:fadeEnter-f1i7e2pi;}

@keyframes fadeEnter-f1i7e2pi{
0%{opacity:0;}

100%{opacity:1;}}

.dir.s1usbchi[class][class]{animation-name:slideLeave-s1usbchi;}

@keyframes slideLeave-s1usbchi{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

.dir.f7bqzbw[class][class]{animation-name:fadeLeave-f7bqzbw;}

@keyframes fadeLeave-f7bqzbw{
0%{opacity:1;}

100%{opacity:0;}}

.dzp1crl[class][class]{position:absolute;}

.dir-ltr.dzp1crl[class][class]{right:0;}

.dir-rtl.dzp1crl[class][class]{left:0;}

.dzp1crl[class][class]:not(:focus-within){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.dzp1crl[class][class]:not(:focus-within){border:0;padding:0;}

.dye25kp[class][class]{font-size:18px;}

.dir.dye25kp[class][class]{padding:6px;background-color:white;}

.tlsg3u0[class][class]{position:relative;display:flex;flex-direction:row;align-items:center;}
.c1pyv925[class][class]{color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;touch-action:manipulation;}

.dir.c1pyv925[class][class]{background:transparent;border:none;cursor:pointer;margin:0;padding:0;text-align:inherit;}
.c1svxiqn[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1svxiqn[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1svxiqn[class][class]{padding-left:16px;}

.dir-rtl.c1svxiqn[class][class]{padding-right:16px;}

.c1ptyiyo[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;color:var(--k-va-tnc);}

.dir.c1ptyiyo[class][class]{margin-top:12px;}

.dir-ltr.c1ptyiyo[class][class]{padding-right:8px;}

.dir-rtl.c1ptyiyo[class][class]{padding-left:8px;}

.m1phv0bt[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.mfi4dj5[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.mfi4dj5[class][class]{margin-top:12px;}

.dir-ltr.mfi4dj5[class][class]{margin-right:16px;}

.dir-rtl.mfi4dj5[class][class]{margin-left:16px;}

.dir.c1wbeta1[class][class]{margin-top:6px;}

.dir-ltr.c1wbeta1[class][class]{margin-right:16px;}

.dir-rtl.c1wbeta1[class][class]{margin-left:16px;}
.c1g7t51g[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1g7t51g[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1g7t51g[class][class]{padding-left:16px;}

.dir-rtl.c1g7t51g[class][class]{padding-right:16px;}

.c1btyv8m[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;}

.dir.c1btyv8m[class][class]{margin-top:12px;}

.dir-ltr.c1btyv8m[class][class]{padding-right:8px;}

.dir-rtl.c1btyv8m[class][class]{padding-left:8px;}

.m1gmr2ly[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m6n2ow2[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.m6n2ow2[class][class]{margin-top:12px;}

.dir-ltr.m6n2ow2[class][class]{margin-right:16px;}

.dir-rtl.m6n2ow2[class][class]{margin-left:16px;}

.dir.c1e276u6[class][class]{margin-top:6px;}

.dir-ltr.c1e276u6[class][class]{margin-right:16px;}

.dir-rtl.c1e276u6[class][class]{margin-left:16px;}
.ldornx1[class][class]{position:absolute;top:0;bottom:0;}

.dir.ldornx1[class][class]{left:0;right:0;}

.h1a2w4o2[class][class]{visibility:hidden;}
.c1tihj2z[class][class]{white-space:nowrap;position:absolute;top:50%;}

.dir.c1tihj2z[class][class]{margin-top:0;margin-bottom:0;margin-left:auto;margin-right:auto;text-align:center;}

.dir-ltr.c1tihj2z[class][class]{left:50%;transform:translateX(-50%) translateY(-50%);}

.dir-rtl.c1tihj2z[class][class]{right:50%;transform:translateX(50%) translateY(-50%);}

.d165xz1y[class][class]{background-color:black;width:6px;height:6px;display:inline-block;vertical-align:middle;}

.dir.d165xz1y[class][class]{border-radius:100%;animation-name:dot-d165xz1y;animation-duration:0.8s;animation-iteration-count:infinite;animation-timing-function:linear;animation-fill-mode:both;background-color:var(--f-mkcy-f);}

.dir-ltr.d165xz1y[class][class]{margin-right:4px;margin-left:0;}

.dir-rtl.d165xz1y[class][class]{margin-left:4px;margin-right:0;}

@keyframes dot-d165xz1y{
0%,80%,100%{opacity:0;}

30%,50%{opacity:1;}}

.dir.d17v416l[class][class]{animation-delay:-0.3s;}

.dir.d1bwn31[class][class]{animation-delay:-0.15s;}

.dir-ltr.dxjl3gp[class][class]{margin-right:0;}

.dir-rtl.dxjl3gp[class][class]{margin-left:0;}
.bmx2gr4[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.bmx2gr4[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bmx2gr4[class][class]:disabled{opacity:0.3;}

.dir.bmx2gr4[class][class]:disabled{cursor:not-allowed;}

.c1ih3c6[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-mkcy-f);contain:paint;}

.dir.c1ih3c6[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]{transition:none;}}

.c1ih3c6[class][class]:focus-visible{outline:none;}

.dir.c1ih3c6[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ih3c6[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ih3c6[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1ih3c6[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]:focus-visible{transition:none;}}

.c1ih3c6[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1ih3c6[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ih3c6[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1ih3c6[class][class]:active{transform:scale(0.96);}

.c1ih3c6[class][class]:disabled{opacity:1;}

@media (hover:hover){
.c1ih3c6[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:hover{border:none;background:var(--bgxgx);}

.c1ih3c6[class][class]:hover:disabled{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:hover:disabled{border:none;background:var(--j-qkgmf);}}

.c1ih3c6[class][class]:active{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:active{border:none;background:var(--bgxgx);}

.c1ih3c6[class][class]:disabled{color:var(--f-mkcy-f);}

.dir.c1ih3c6[class][class]:disabled{border:none;background:var(--j-qkgmf);}

.f1hzc007[class][class]{width:100%;}

.s1b90jqc[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1b90jqc[class][class]:not(:focus){border:0;padding:0;}
.bbkw4bl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.bbkw4bl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.bbkw4bl[class][class]:disabled{opacity:0.3;}

.dir.bbkw4bl[class][class]:disabled{cursor:not-allowed;}

.c1rxa9od[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);border-radius:var(--go-h-jh-l);outline:none;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;font-family:inherit;font-size:inherit;line-height:inherit;font-weight:inherit;outline:none;}

.dir.c1rxa9od[class][class]{border-width:1px;border-style:solid;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;transition:box-shadow 0.2s ease,transform 0.1s ease;background:transparent;border:none;border-radius:0;margin:0;padding:0;text-align:inherit;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]{transition:none;}}

.c1rxa9od[class][class]:focus-visible{outline:none;}

.dir.c1rxa9od[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1rxa9od[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1rxa9od[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1rxa9od[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus-visible{transition:none;}}

.c1rxa9od[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1rxa9od[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1rxa9od[class][class]:active{transform:scale(0.96);}

.c1rxa9od[class][class]:disabled{opacity:1;}

.dir.c1rxa9od[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1rxa9od[class][class]:focus::-moz-focus-inner{border:none;}

.c1rxa9od[class][class]:-moz-focusring{outline:none;}

.dir.c1rxa9od[class][class]:focus-visible{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus-visible{transition:none;}}

.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c1rxa9od[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1rxa9od[class][class]:active{transform:none;}

.f1idmcrt[class][class]{width:100%;}

.sts6seu[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sts6seu[class][class]:not(:focus){border:0;padding:0;}
.dir.rcem0st[class][class]{padding-top:24px;padding-bottom:24px;border-radius:1px;}

.dir.cngiwj8[class][class]{padding-top:16px;padding-bottom:16px;}

.dir.uyl8mnh[class][class]{padding-top:8px;padding-bottom:8px;}

.dir.u6fux4d[class][class]{padding-top:0;padding-bottom:0;}

.dir.d750e13[class][class]{cursor:not-allowed;}
.fses2qr[class][class]{display:flex;}
.mbhipml[class][class]{display:flex;flex-direction:column;justify-content:center;flex:1 1 auto;width:100%;}
.t1dx2edb[class][class]{color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dir.t1dx2edb[class][class]{cursor:inherit;}

.d25s0gl[class][class]{color:var(--j-qkgmf);}

.m1aixvom[class][class]{font-weight:var(--jx-zk-pv);}
.s10jjkcf[class][class]{color:var(--fo-jk-r-s);font-family:var(--e-ls-qkw);word-break:break-word;font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.s10jjkcf[class][class]{margin-top:4px;}

.dir.urbzikd[class][class]{margin-top:2px;}

.dlf903k[class][class]{color:var(--j-qkgmf);}
.dir-ltr.lf10jxs[class][class]{margin-right:16px;}

.dir-rtl.lf10jxs[class][class]{margin-left:16px;}
.i1gapmg[class][class]{overflow:hidden;}

.dir.i1gapmg[class][class]{border-radius:var(--go-h-jh-l);}

.dir.c1v59ny7[class][class]{border-radius:50%;}

.d1kms0o9[class][class]{opacity:0.3;}
.c11dap96[class][class]{max-width:100%;position:fixed;z-index:2001;bottom:67px;width:100%;}

.dir.c11dap96[class][class]{text-align:center;padding:0 var(--kksqe-v);}

@media (min-width:744px){
.c11dap96[class][class]{width:375px;bottom:60px;}

.dir.c11dap96[class][class]{text-align:inherit;padding:0;}

.dir-ltr.c11dap96[class][class]{left:32px;}

.dir-rtl.c11dap96[class][class]{right:32px;}}
.c53qo09[class][class]{display:inline-flex;width:100%;contain:content;max-width:375px;}

.dir.c53qo09[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);}

.dir-ltr.c53qo09[class][class]{padding:10px var(--jaa-ni-h) 10px 10px;}

.dir-rtl.c53qo09[class][class]{padding:10px 10px 10px var(--jaa-ni-h);}

@media (min-width:744px){
.c53qo09[class][class]{width:326px;}}

.m2x08tx[class][class]{width:100%;justify-content:space-between;gap:var(--b-y-unon);display:flex;align-items:center;flex-flow:row;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m1idu6gq[class][class]{flex-grow:1;font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--e-y-j-d-v-j);}

.dir-ltr.m1idu6gq[class][class]{text-align:left;}

.dir-rtl.m1idu6gq[class][class]{text-align:right;}

.w1h9pzrv[class][class]{font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);font-weight:var(--jx-zk-pv);}

.b1yf7320[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.b1yf7320[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.b1yf7320[class][class]:hover{cursor:pointer;}}

.b1yf7320[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.foql8ez[class][class]{width:100%;display:block;}

.s1lnvd7y[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1lnvd7y[class][class]:not(:focus){border:0;padding:0;}

.c1uxatsa[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;font-weight:var(--jx-zk-pv);position:relative;outline:none;}

.dir.c1uxatsa[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;border-radius:var(--h-l-f-om-o);text-align:inherit;}

.dir.c1uxatsa[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c1uxatsa[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.c1uxatsa[class][class]:visited{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c1uxatsa[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}

.c1uxatsa[class][class]:hover:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1uxatsa[class][class]:hover:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}}

.c1uxatsa[class][class]:active{color:var(--fo-jk-r-s);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1uxatsa[class][class]:focus::-moz-focus-inner{border:none;}

.c1uxatsa[class][class]:-moz-focusring{outline:none;}

.c1uxatsa[class][class]:focus-visible{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1uxatsa[class][class]:focus-visible{transition:none;}}

.c1uxatsa[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c1uxatsa[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c1uxatsa[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1uxatsa[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:underline;text-decoration:underline;}

.c1uxatsa[class][class]:disabled:hover{-webkit-text-decoration:underline;text-decoration:underline;}
.c1r0gn5m[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:center;justify-content:center;}

.dir.c1r0gn5m[class][class]{right:0;left:0;padding:var(--b-y-unon);}

@supports (max-height:-webkit-fill-available){
.c1r0gn5m[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c1r0gn5m[class][class]{align-items:stretch;}}

@media (min-height:600px){
.dir.c1r0gn5m[class][class]{padding-top:96px;padding-bottom:96px;}}

.d1cdmwov[class][class]{background:white;overflow:clip;width:325px;max-width:100%;max-height:100%;display:flex;flex-direction:column;overflow:hidden;}

.dir.d1cdmwov[class][class]{animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;background:var(--f-mkcy-f);border-radius:var(--i-g-gvoq);box-shadow:var(--jx-b-v-zt);}

@supports not (overflow:clip){
.d1cdmwov[class][class]{overflow:hidden;}}

.d1cdmwov[class][class]:focus{outline:none;}

.dir.d1d4yxm6[class][class]{animation-name:growEnter-d1d4yxm6;}

@keyframes growEnter-d1d4yxm6{
0%{opacity:0;transform:scale(0.05);}

100%{opacity:1;transform:scale(1);}}

@media (prefers-reduced-motion:reduce){
.dir.d1d4yxm6[class][class]{animation-name:fadeEnter-d1d4yxm6;}

@keyframes fadeEnter-d1d4yxm6{
0%{opacity:0;}

100%{opacity:1;}}}

.dir.d1cmr6g4[class][class]{animation-name:growLeave-d1cmr6g4;}

@keyframes growLeave-d1cmr6g4{
0%{opacity:1;transform:scale(1);}

100%{opacity:0;transform:scale(0.05);}}

@media (prefers-reduced-motion:reduce){
.dir.d1cmr6g4[class][class]{animation-name:fadeLeave-d1cmr6g4;}

@keyframes fadeLeave-d1cmr6g4{
0%{opacity:1;}

100%{opacity:0;}}}
.t1dndu3[class][class]{font-size:var(--ll-l-ys-f);line-height:var(--f-xgviq);color:var(--f-k-smk-x);font-weight:var(--jx-zk-pv);}

.dir.t1dndu3[class][class]{margin-top:68px;margin-left:var(--fgg-f-l-a);margin-right:var(--fgg-f-l-a);text-align:center;}

.samxqlb[class][class]{font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);color:var(--fo-jk-r-s);}

.dir.samxqlb[class][class]{margin-top:var(--fgg-f-l-a);margin-bottom:var(--cw-a-a-u-a);margin-left:var(--fgg-f-l-a);margin-right:var(--fgg-f-l-a);text-align:center;}
.b19stgqq[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b19stgqq[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b19stgqq[class][class]:disabled{opacity:0.3;}

.dir.b19stgqq[class][class]:disabled{cursor:not-allowed;}

.c3qys7w[class][class]{font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--jx-zk-pv);outline:none;padding-top:14px;padding-bottom:14px;padding-left:24px;padding-right:24px;-webkit-transition:box-shadow 0.2s ease,-webkit-transform 0.1s ease;-webkit-tap-highlight-color:transparent;color:var(--f-k-smk-x);-webkit-text-decoration:underline;text-decoration:underline;contain:paint;}

.dir.c3qys7w[class][class]{border-radius:var(--go-h-jh-l);border-width:1px;border-style:solid;transition:box-shadow 0.2s ease,transform 0.1s ease;border:none;background:transparent;margin-left:-10px;margin-right:-10px;padding-top:10px;padding-bottom:10px;padding-right:10px;padding-left:10px;}

@media (prefers-reduced-motion:reduce){
.dir.c3qys7w[class][class]{transition:none;}}

.c3qys7w[class][class]:focus-visible{outline:none;}

.dir.c3qys7w[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c3qys7w[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c3qys7w[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c3qys7w[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c3qys7w[class][class]:focus-visible{transition:none;}}

.c3qys7w[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c3qys7w[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

.dir.c3qys7w[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c3qys7w[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c3qys7w[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c3qys7w[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c3qys7w[class][class]:active{transform:scale(0.96);}

.c3qys7w[class][class]:disabled{opacity:1;}

.c3qys7w[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c3qys7w[class][class]:focus-visible{border:none;background:var(---pc-g-v-g);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.c3qys7w[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c3qys7w[class][class]:focus[data-focus-visible-added]{border:none;background:var(---pc-g-v-g);box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);}

.c3qys7w[class][class]:focus{-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.c3qys7w[class][class]:hover{color:var(--bgxgx);-webkit-text-decoration:underline;text-decoration:underline;}

.dir.c3qys7w[class][class]:hover{border:none;background:var(---pc-g-v-g);}

.c3qys7w[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c3qys7w[class][class]:hover:disabled{border:none;background:transparent;}}

.c3qys7w[class][class]:active{color:var(--bgxgx);}

.dir.c3qys7w[class][class]:active{border:none;background:var(---pc-g-v-g);}

.c3qys7w[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c3qys7w[class][class]:disabled{border:none;background:transparent;}

.fe3uexp[class][class]{width:100%;}

.dir.fe3uexp[class][class]{margin-left:0;margin-right:0;}

.s1kqzsh2[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.s1kqzsh2[class][class]:not(:focus){border:0;padding:0;}
.dir.w1nxs3gy[class][class]{padding-right:var(--ikx-k-pe);padding-left:var(--ikx-k-pe);padding-bottom:var(--ikx-k-pe);}

.c7qrquy[class][class]{display:grid;grid-template-columns:minmax(0,1fr) -webkit-max-content;grid-template-columns:minmax(0,1fr) max-content;}

.dir.c7qrquy[class][class]{margin-top:var(--fgg-f-l-a);}

.c13szyjq[class][class]{font-weight:var(--jx-zk-pv);color:#717171;font-size:var(--jlvl-j-l);line-height:var(--j-l-x-t-kw);}

.c1vaazhh[class][class]{color:var(--k-va-tnc);}

.l1lwhd6w[class][class]{--grid_margin-block:0;--grid_grid-gap:var(--jhzm-v-t);--grid_grid-template-columns:repeat(2,minmax(0,1fr));}

.dir.c14b97d8[class][class]{padding:var(--ikx-k-pe);}
.g5mkmd6[class][class]{display:grid;grid-auto-rows:minmax(-webkit-min-content,-webkit-max-content);grid-auto-rows:minmax(min-content,max-content);grid-gap:var( --grid_grid-gap, var(--jhzm-v-t) var(--ikx-k-pe) );grid-template-columns:var( --grid_grid-template-columns, repeat(2,minmax(0,1fr)) );margin-block:var(--grid_margin-block,var(--ikx-k-pe));}

@media (min-width:744px){
.g5mkmd6[class][class]{grid-gap:var(--grid_grid-gap,var(--ikx-k-pe));grid-template-columns:var( --grid_grid-template-columns, repeat(3,minmax(0,1fr)) );}}

@media (min-width:950px){
.g5mkmd6[class][class]{grid-gap:var( --grid_grid-gap, var(--f-fw-z-a-i) var(--ikx-k-pe) );}}

@media (min-width:1128px){
.g5mkmd6[class][class]{grid-template-columns:var( --grid_grid-template-columns, repeat(4,minmax(0,1fr)) );}}
.l849i3d[class][class]{--card-layout_flex-direction:column-reverse;}

.mpl7ion[class][class]{--media-container_pointer-events:none;--media-container_border-radius:0;overflow:hidden;}

.dir.mpl7ion[class][class]{border-radius:var(--g-ki-r-rq);border:3px solid var(--f-mkcy-f);box-shadow:0 2px 6px rgba(0,0,0,0.13);margin-bottom:var(--fgg-f-l-a);}

@media (min-width:551px){
.dir.mpl7ion[class][class]{border-radius:var(--ikx-k-pe);border:5px solid var(--f-mkcy-f);margin-bottom:var(--b-y-unon);}}

.i1uci9xv[class][class]{--aspect_ratio_wrapper-ratio:20 / 19;--aspect_ratio_wrapper-padding_fallback:95%;--aspect_ratio_wrapper-position_fallback:relative;}

.g16f2yr9[class][class]{--card-content-grid_gap:1px;font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.tkao6r4[class][class]{--title_max-num-lines:2;font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dir.tkao6r4[class][class]{margin-bottom:1px;}
@supports (aspect-ratio:1 / 1){
.awuxh4x[class][class]{aspect-ratio:var(--aspect_ratio_wrapper-ratio,unset);}}

@supports not (aspect-ratio:1 / 1){
.awuxh4x[class][class]{position:var(--aspect_ratio_wrapper-position_fallback,unset);}

.dir.awuxh4x[class][class]{padding-top:var(--aspect_ratio_wrapper-padding_fallback,0);}}

.cw9aemg[class][class]{height:100%;min-width:0;position:unset;}

@supports not (aspect-ratio:1 / 1){
.cw9aemg[class][class]{position:absolute;height:100%;width:100%;top:0;bottom:0;}

.dir.cw9aemg[class][class]{left:0;right:0;}}
.cy5jw6o[class][class]{max-width:var(--card-container_max-width,none);min-width:var(--card-container_min-width,0);position:relative;width:var(--card-container_width,auto);}

.dir.cy5jw6o[class][class]{border-radius:var(--card-container_border-radius,var(--i-g-gvoq));box-shadow:var(--card-container_box-shadow,none);}

.bn2bl2p[class][class]{display:block;height:100%;position:absolute;top:0;width:100%;outline:none;}

.dir.bn2bl2p[class][class]{border-radius:var(--card-container_border-radius,var(--i-g-gvoq));background:transparent;border:none;}

.dir-ltr.bn2bl2p[class][class]{left:0;}

.dir-rtl.bn2bl2p[class][class]{right:0;}

.dir.bn2bl2p[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.bn2bl2p[class][class]:focus::-moz-focus-inner{border:none;}

.bn2bl2p[class][class]:-moz-focusring{outline:none;}

@media (min-width:744px){
.dir.bn2bl2p[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.bn2bl2p[class][class]:focus-visible{transition:none;}}

.dir.bn2bl2p[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgba(255,255,255,0.8),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.bn2bl2p[class][class]:focus[data-focus-visible-added]{transition:none;}}}
.f15liw5s[class][class]{grid-column:1 / -1;}

.t5eq1io[class][class]{grid-column:-2 / -1;grid-row:1;justify-self:end;}

.cb4nyux[class][class]{display:grid;gap:var(--card-content-grid_gap,var(--h-x-sf-jw));grid-template-columns:var( --card-content-grid_template-columns, minmax(0,1fr) -webkit-max-content );grid-template-columns:var( --card-content-grid_template-columns, minmax(0,1fr) max-content );grid-template-rows:var(--card-content-grid_template-rows,unset);}
.lwy0wad[class][class]{display:flex;flex:1 0 100%;flex-direction:var(--card-layout_flex-direction);}
.c14dgvke[class][class]{overflow:hidden;pointer-events:var(--media-container_pointer-events,auto);position:relative;z-index:0;}

.dir.c14dgvke[class][class]{border-radius:var(--media-container_border-radius,var(--i-g-gvoq));background-color:var(--j-qkgmf);}

@supports (overflow:clip){
.c14dgvke[class][class]{overflow:clip;}}
.s1cjsi4j[class][class]{line-height:inherit;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;color:var(--fo-jk-r-s);}

@supports (overflow:clip){
.s1cjsi4j[class][class]{overflow:clip;}}

.sgdvnt3[class][class]{display:flex;flex-direction:row;flex-wrap:wrap;line-height:19px;max-height:19px;overflow:hidden;}
.t1jojoys[class][class]{line-height:inherit;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:var(--title_max-num-lines,1);color:var(--f-k-smk-x);font-weight:var(--jx-zk-pv);word-break:var(--title_word-break,break-all);}

@supports (overflow:clip){
.t1jojoys[class][class]{overflow:clip;}}
.o1ieiuuq[class][class]{--media-overlay_padding:9px;}

@media (min-width:551px){
.o1ieiuuq[class][class]{--media-overlay_padding:11px;}}

.pkuvrxw[class][class]{height:var(--ikx-k-pe);width:var(--ikx-k-pe);}

.dir.pkuvrxw[class][class]{border:1.5px solid var(--f-mkcy-f);border-radius:50%;box-shadow:0 6px 16px 1px rgba(0,0,0,0.12);}

@media (min-width:551px){
.pkuvrxw[class][class]{height:var(--kksqe-v);width:var(--kksqe-v);}

.dir.pkuvrxw[class][class]{border:2px solid var(--f-mkcy-f);}}
.o1q97y5m[class][class]{display:flex;flex:1;flex-flow:column;top:0;bottom:0;overflow:hidden;pointer-events:none;position:absolute;}

.dir.o1q97y5m[class][class]{left:0;right:0;padding:var( --media-overlay_padding, var(--b-y-unon) var(--b-y-unon) 0 );}

.o1q97y5m[class][class] > *{flex:1 0;}

.tsz9f4o[class][class]{display:grid;grid-column-gap:var(--jaa-ni-h);grid-template-columns:repeat(2,minmax(-webkit-min-content,auto));grid-template-columns:repeat(2,minmax(min-content,auto));}

.t1p13dzz[class][class]{justify-self:flex-start;}

.ts9x1g6[class][class]{justify-self:flex-end;}

.m1dum4mk[class][class]{align-items:center;display:grid;grid-column-gap:var(--jaa-ni-h);grid-template-columns:repeat(2,minmax(-webkit-min-content,auto));grid-template-columns:repeat(2,minmax(min-content,auto));}

.dir.m1dum4mk[class][class]{margin-bottom:var(--b-y-unon);}

.m1tlldn6[class][class]{justify-self:flex-start;}

.ms83rji[class][class]{justify-self:flex-end;}

.b1tv82fw[class][class]{align-items:flex-end;display:grid;grid-column-gap:var(--jaa-ni-h);grid-template-columns:repeat(3,minmax(-webkit-min-content,1fr));grid-template-columns:repeat(3,minmax(min-content,1fr));}

.bycbjmy[class][class]{justify-self:flex-start;}

.balhpdq[class][class]{justify-self:center;}

.b18glxm4[class][class]{justify-self:flex-end;}
.c10s1920[class][class]{pointer-events:auto;}
.c15hl5rr[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;outline:0;margin:-7px;padding:7px;color:buttontext;background-color:transparent;touch-action:manipulation;display:inline-flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;width:24px;height:24px;}

.dir.c15hl5rr[class][class]{border-radius:50%;border:0;cursor:pointer;border-style:solid;border-width:1px;padding:0;margin:0;background-clip:padding-box;background-color:rgba(255,255,255,0.9);border-color:rgba(0,0,0,0.08);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--e-swdx-p);transition:transform 0.25s ease;}

.c15hl5rr[class][class]:focus-visible{outline:none;}

.dir.c15hl5rr[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c15hl5rr[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c15hl5rr[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c15hl5rr[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c15hl5rr[class][class]:focus-visible{transition:none;}}

.c15hl5rr[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c15hl5rr[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c15hl5rr[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c15hl5rr[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c15hl5rr[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c15hl5rr[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c15hl5rr[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c15hl5rr[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c15hl5rr[class][class]{transition:none;}}

.dir.c15hl5rr[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c15hl5rr[class][class]:focus::-moz-focus-inner{border:none;}

.c15hl5rr[class][class]:-moz-focusring{outline:none;}

.c15hl5rr[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c15hl5rr[class][class]:focus-visible{transition:box-shadow 0.2s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.c15hl5rr[class][class]:focus-visible{transition:none;}}

.c15hl5rr[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c15hl5rr[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;border-color:var(--f-k-smk-x);background:var(--f-mkcy-f);box-shadow:0 0 0 1px var(--f-k-smk-x),0 0 0 4px var(--f-mkcy-f),var(--e-swdx-p);transform:scale(1.04);}

@media (prefers-reduced-motion:reduce){
.dir.c15hl5rr[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.c15hl5rr[class][class]:hover{color:var(--bgxgx);}

.dir.c15hl5rr[class][class]:hover{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:0 0 0 1px transparent,0 0 0 4px transparent,var(--cizosd);transform:scale(1.04);}

.c15hl5rr[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c15hl5rr[class][class]:hover:disabled{border-color:var(--j-qkgmf);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}}

.c15hl5rr[class][class]:active{color:var(--bgxgx);}

.dir.c15hl5rr[class][class]:active{border-color:rgba(0,0,0,0.08);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

.c15hl5rr[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c15hl5rr[class][class]:disabled{border-color:var(--j-qkgmf);background-color:var(--f-mkcy-f);box-shadow:none;transform:scale(1);}

@media (min-width:551px){
.c15hl5rr[class][class]{width:32px;height:32px;}}

.b13tpwjr[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b13tpwjr[class][class]:not(:focus){border:0;padding:0;}

.b1ja7ous[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1ja7ous[class][class]:not(:focus){border:0;padding:0;}
.e3j91jy[class][class]{height:100%;width:100%;display:flex;justify-content:center;align-items:center;}

.dir.e3j91jy[class][class]{background-color:var(--iw-ihca);}
.c1rg65t0[class][class]{position:relative;display:flex;min-height:56px;width:100%;color:black;background-color:white;color:var(--f-k-smk-x);font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--e-y-j-d-v-j);}

.dir.c1rg65t0[class][class]{cursor:text;margin:0;border:none;border-radius:var(--go-h-jh-l);box-shadow:inset 0 0 0 1px var(--iw-ihca);background-color:var(--f-mkcy-f);}

.l1haq8x4[class][class]{display:flex;align-items:center;max-width:50%;white-space:nowrap;}

.dir-ltr.l1haq8x4[class][class]{padding-left:12px;}

.dir-rtl.l1haq8x4[class][class]{padding-right:12px;}

.it3ysxn[class][class]{position:relative;flex:1;}

.dir.it3ysxn[class][class]{padding:0;}

.t1k4waxj[class][class]{display:flex;align-items:center;justify-content:center;max-width:50%;min-width:36px;overflow:hidden;white-space:nowrap;overflow:visible;}

.dir-ltr.t1k4waxj[class][class]{padding-left:0;padding-right:12px;}

.dir-rtl.t1k4waxj[class][class]{padding-right:0;padding-left:12px;}

.i1vtfp57[class][class]{display:flex;opacity:0;}

.i1j92w9y[class][class]{opacity:1;}

.ilqe6eg[class][class]{opacity:1;}

.i1ud6v05[class][class]{opacity:1;}

.dir-ltr.icru09g[class][class]{padding-left:12px;margin-right:-6px;}

.dir-rtl.icru09g[class][class]{padding-right:12px;margin-left:-6px;}

.dir.i1af8x53[class][class]{padding-top:26px;}

.i1o2p44h[class][class]{color:var(--fo-jk-r-s);}

.s1pt5mda[class][class]{width:100%;position:absolute;overflow:hidden;white-space:nowrap;pointer-events:none;}

.dir.s1pt5mda[class][class]{padding-top:26px;}

.dir-ltr.s1pt5mda[class][class]{left:0;}

.dir-rtl.s1pt5mda[class][class]{right:0;}

.sqgvz1y[class][class]{display:inline-block;visibility:hidden;}

.dir-ltr.sqgvz1y[class][class]{padding-left:12px;margin-right:6px;}

.dir-rtl.sqgvz1y[class][class]{padding-right:12px;margin-left:6px;}

.s1vfty38[class][class]{color:var(--fo-jk-r-s);}

.s192pnoa[class][class]{display:none;}

.icqyia[class][class]{width:100%;outline:none;color:inherit;font-family:inherit;font-size:inherit;font-weight:inherit;line-height:inherit;-webkit-appearance:none;}

.dir.icqyia[class][class]{border:none;padding-left:0;padding-right:0;padding-top:0;padding-bottom:0;margin-left:12px;margin-right:12px;margin-top:26px;margin-bottom:6px;background-color:transparent;}

.dir.icqyia[class][class]:-webkit-autofill{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.icqyia[class][class]:-webkit-autofill:hover{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.icqyia[class][class]:-webkit-autofill:focus{-webkit-box-shadow:0 0 0 30px white inset;}

.dir.icqyia[class][class]:-webkit-autofill:active{-webkit-box-shadow:0 0 0 30px white inset;}

.icqyia[class][class]::-ms-clear{display:none;}

.icqyia[class][class]::placeholder{color:var(--fo-jk-r-s);opacity:1;}

.icqyia[class][class]:focus{color:var(--f-k-smk-x);}

.icqyia[class][class]::-webkit-inner-spin-button{-webkit-appearance:none;appearance:none;}

.dir.icqyia[class][class]::-webkit-inner-spin-button{margin:0;}

.dir.ix1gouk[class][class]{cursor:not-allowed;}

.c15umtem[class][class]{outline:none;}

.dir.c15umtem[class][class]{box-shadow:inset 0 0 0 2px var(--f-k-smk-x);}

.c1e4wa11[class][class]{opacity:0.3;opacity:1;color:var(--j-qkgmf);-webkit-text-fill-color:var(--j-qkgmf);}

.dir.c1e4wa11[class][class]{cursor:not-allowed;background-color:var(---pc-g-v-g);box-shadow:inset 0 0 0 1px var(--d-nc-lt-s);}

.c1nk3e4r[class][class]{color:red;color:var(--f-k-smk-x);}

.dir.c1nk3e4r[class][class]{box-shadow:inset 0 0 0 1px var(--k-va-tnc);background-color:var(--f-p-k-v-lb);}

.c1ltbvie[class][class]{background-color:white;box-shadow:inset 0 0 0 2px red;}

.dir.c1ltbvie[class][class]{background-color:var(--f-mkcy-f);box-shadow:inset 0 0 0 2px var(--k-va-tnc);}

.l1bm6uz3[class][class]{position:absolute;top:18px;color:black;pointer-events:none;transform-origin:0% 0%;font-family:var(--e-ls-qkw);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--e-y-j-d-v-j);color:var(--fo-jk-r-s);-webkit-transition:-webkit-transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);}

.dir.l1bm6uz3[class][class]{left:12px;right:12px;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;transition:transform 0.15s cubic-bezier(0.455,0.03,0.515,0.955);}

.dir-ltr.l1bm6uz3[class][class]{transform-origin:0% 0%;}

.dir-rtl.l1bm6uz3[class][class]{transform-origin:100% 0%;}

.l12j3uvm[class][class]{max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

.l18aghfq[class][class]{color:var(--j-qkgmf);}

.l6fh4mc[class][class]{width:calc(133.33333333333334% - 32px);font-weight:var(--e-y-j-d-v-j);}

.dir.l6fh4mc[class][class]{transform:translateY(-8px) scale(0.75);}

.l1mca3m8[class][class]{color:red;font-weight:var(--h-oqhch);color:var(--k-va-tnc);}
.atm_mk_stnw88{position:absolute;}

.atm_tk_f6fqlb{top:18px;}

.dir-ltr.atm_fq_1fwxnve{left:12px;}

.dir-rtl.atm_fq_1fwxnve{right:12px;}

.dir-ltr.atm_n3_1fwxnve{right:12px;}

.dir-rtl.atm_n3_1fwxnve{left:12px;}

.dir.atm_gi_idpfg4{margin:0;}

.dir.atm_l8_idpfg4{padding:0;}

.atm_7l_11x86a4{color:black;}

.atm_mj_glywfm{pointer-events:none;}

.dir-ltr.atm_tw_xchc94{transform-origin:0% 0%;}

.dir-rtl.atm_tw_xchc94{transform-origin:100% 0%;}

.atm_j3_1osqo2v{max-width:100%;}

.atm_ks_15vqwwr{overflow:hidden;}

.atm_sq_1l2sidv{text-overflow:ellipsis;}

.atm_vv_1q9ccgz{white-space:nowrap;}

.atm_vy_1y5hjwv{width:calc(133.33333333333334% - 32px);}

.dir.atm_tr_1y95dkk{transform:translateY(-8px) scale(0.75);}

.atm_7l_5scuol{color:red;}
.fs6rszz[class][class]{display:flex;color:var(--fo-jk-r-s);font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);}

.fmt174z[class][class]{color:grey;color:var(--j-qkgmf);}
.f1cjgtx[class][class]{display:flex;color:var(--k-va-tnc);font-size:var(--f-cv-j-j-p);line-height:var(--f-l-h-bac);font-family:var(--e-ls-qkw);font-weight:var(--e-y-j-d-v-j);}

.fd88ifj[class][class]{color:grey;color:var(--j-qkgmf);}

.dir-ltr.l8ipc5x[class][class]{margin-right:8px;}

.dir-rtl.l8ipc5x[class][class]{margin-left:8px;}
.a8jt5op[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.a8jt5op[class][class]{border:0;padding:0;}
.at5sn3l[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.at5sn3l[class][class]{border:0;padding:0;margin-top:-1px;}
.o30qrr6[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;}

.dir.o30qrr6[class][class]{right:0;left:0;background:var(--f-k-smk-x);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:overlayEnter-o30qrr6;}

@media (min-width:744px){
.dir.o30qrr6[class][class]{background:rgba(0,0,0,0.75);}}

@media (min-width:744px){
.dir.o30qrr6[class][class]{background:var(--f-k-smk-x);}}

@keyframes overlayEnter-o30qrr6{
0%{opacity:0;}

100%{opacity:0.6;}}

.dir.om9v1kz[class][class]{animation-name:overlayLeave-om9v1kz;}

@keyframes overlayLeave-om9v1kz{
0%{opacity:0.6;}

100%{opacity:0;}}
.c1wj82si[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.c1wj82si[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.c1wj82si[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.c1wj82si[class][class]{align-items:center;}

.dir.c1wj82si[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c1wj82si[class][class]{align-items:stretch;}}

.d1esrtf4[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.d1esrtf4[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-d1esrtf4;}

@supports not (overflow:clip){
.d1esrtf4[class][class]{overflow:hidden;}}

.d1esrtf4[class][class]:focus{outline:none;}

@media (min-width:744px){
.d1esrtf4[class][class]{width:100%;max-width:568px;}

.dir.d1esrtf4[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-d1esrtf4{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.d1esrtf4[class][class]{animation-name:fadeEnter-d1esrtf4;}

@keyframes fadeEnter-d1esrtf4{
0%{opacity:0;}

100%{opacity:1;}}}

.dir.d1l1v508[class][class]{animation-name:slideLeave-d1l1v508;}

@keyframes slideLeave-d1l1v508{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.d1l1v508[class][class]{animation-name:fadeLeave-d1l1v508;}

@keyframes fadeLeave-d1l1v508{
0%{opacity:1;}

100%{opacity:0;}}}
.f1cwbdmm[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.f1cwbdmm[class][class]{border:0;padding:0;margin-top:-1px;}

.pzqlnu[class][class]{display:contents;}
.c10hl6ue[class][class]{position:absolute;display:flex;top:16px;z-index:1;}

.dir-ltr.c10hl6ue[class][class]{left:24px;}

.dir-rtl.c10hl6ue[class][class]{right:24px;}

@media (min-width:744px){
.c10hl6ue[class][class]{top:24px;}}
.czcfm7x[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;}

.dir.czcfm7x[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.czcfm7x[class][class]:focus-visible{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.czcfm7x[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.czcfm7x[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.czcfm7x[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]{transition:none;}}

@media (hover:hover){
.czcfm7x[class][class]:hover{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:hover::before{background:var(---pc-g-v-g);}

.czcfm7x[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:hover:disabled::before{background:transparent;}}

.czcfm7x[class][class]:active{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:active{transform:scale(0.92);}

.dir.czcfm7x[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:-moz-focusring{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.dir.czcfm7x[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.czcfm7x[class][class]:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:disabled::before{background:transparent;}

.czcfm7x[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.czcfm7x[class][class]::before{border-radius:50%;}

.dir-ltr.czcfm7x[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.czcfm7x[class][class]::before{right:50%;transform:translate(50%,-50%);}

.czcfm7x[class][class]::before{width:32px;height:32px;}

.i1h5tsj6[class][class]{position:relative;}

.b3tjjh1[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3tjjh1[class][class]:not(:focus){border:0;padding:0;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}
.f1b2no8f[class][class]{display:flex;flex:0 0 auto;align-items:center;justify-content:space-between;font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);}

.dir.f1b2no8f[class][class]{border-top:1px solid var(--d-nc-lt-s);padding-top:16px;padding-bottom:16px;padding-left:24px;padding-right:24px;}
.h1u18jch[class][class]{display:flex;flex:0 0 auto;align-items:center;justify-content:space-between;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;min-height:48px;color:var(--f-k-smk-x);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--h-oqhch);}

.dir.h1u18jch[class][class]{border-bottom:1px solid var(--d-nc-lt-s);padding-top:0;padding-bottom:0;padding-left:24px;padding-right:24px;}

@media (min-width:744px){
.h1u18jch[class][class]{min-height:64px;}}

.l11o5x9p[class][class]{flex-grow:0;flex-shrink:0;flex-basis:16px;}

.dir-ltr.l11o5x9p[class][class]{text-align:left;}

.dir-rtl.l11o5x9p[class][class]{text-align:right;}

.cwzxwjg[class][class]{overflow:hidden;flex-grow:0;flex-shrink:1;flex-basis:auto;}

.dir.cwzxwjg[class][class]{text-align:center;margin-left:16px;margin-right:16px;}

.ebq526p[class][class]{overflow:hidden;text-overflow:ellipsis;}

.t1p58pdz[class][class]{flex-grow:0;flex-shrink:0;flex-basis:16px;}

.dir-ltr.t1p58pdz[class][class]{text-align:right;}

.dir-rtl.t1p58pdz[class][class]{text-align:left;}
@keyframes animation-64e8c8{
from{opacity:0.09049773755656108;}

to{opacity:0.15384615384615385;}}

.dir.atm_u_1yy80mb.atm_u_1yy80mb{animation-direction:alternate;}

.dir.atm_y_9cwzv5.atm_y_9cwzv5{animation-duration:1s;}

.dir.atm_12_q7pw6w.atm_12_q7pw6w{animation-fill-mode:forwards;}

.dir.atm_16_12c5xpv.atm_16_12c5xpv{animation-iteration-count:infinite;}

.dir.atm_1c_4hnrxs.atm_1c_4hnrxs{animation-name:var(--dls-shimmer-animation,animation-64e8c8);}

.atm_k4_7tcf61{opacity:0.09049773755656108;}

.dir.atm_1k_1ytfnp0.atm_1k_1ytfnp0{animation-timing-function:ease-in-out;}

.dir.atm_2d_1r31cwp.atm_2d_1r31cwp{background-color:currentColor;}

.atm_9s_1ulexfb{display:block;}

.atm_mk_h2mmj6{position:relative;}

@media (prefers-reduced-motion:reduce){
.dir.atm_p--p88qr9_glywfm.atm_p--p88qr9_glywfm{animation:none;}}

.dir.atm_1c_glywfm.atm_1c_glywfm{animation-name:none;}

.atm_vl_15vqwwr{visibility:hidden;}
.i1mla2as[class][class]{object-fit:var(--dls-liteimage-object-fit);object-position:var(--dls-liteimage-object-position);}

.i1cqnm0r[class][class]{vertical-align:bottom;}

.dir.i1de1kle[class][class]{border-radius:var(--dls-liteimage-border-radius);}

.dqra4ro[class][class]{display:inline-block;vertical-align:bottom;height:var(--dls-liteimage-height);width:var(--dls-liteimage-width);min-height:1px;}

.dir.d1l1iq7v[class][class]{border-radius:var(--dls-liteimage-border-radius);}

.dir.d1ctnp0l[class][class]{background-image:var(--dls-liteimage-background-image);background-size:var(--dls-liteimage-background-size);}

.dir.dqqltwe[class][class]{background-image:var(--dls-liteimage-background-image);background-size:var(--dls-liteimage-background-size);}

.dir.dy13pw7[class][class]{border-radius:var(--dls-liteimage-border-radius);}

.i1ewoq0z[class][class]{position:relative;flex:1;}

.dir.i1ewoq0z[class][class]{padding-top:var(--dls-liteimage-padding-top);}

@supports (aspect-ratio:1 / 1){
.iyu1jjw[class][class]{aspect-ratio:var(--dls-liteimage-aspect-ratio);}}

@supports not (aspect-ratio:1 / 1){
.iyu1jjw[class][class]{position:relative;}

.dir.iyu1jjw[class][class]{padding-top:var(--dls-liteimage-padding-top);}}

.i1vaudxa[class][class]{display:flex;align-items:center;justify-content:center;}

.s12djv7h[class][class]{bottom:0;opacity:1;position:absolute;top:0;}

.dir.s12djv7h[class][class]{background:var(--f-mkcy-f);left:0;right:0;transition:300ms opacity ease-out;}

.s3wuvs4[class][class]{opacity:0;}

.dir.bztshid[class][class]{background-position:50% 50%;background-repeat:no-repeat;}

.reglew[class][class]{display:inline-block;vertical-align:bottom;height:100%;width:100%;}

@supports (object-fit:cover){
.reglew[class][class]{display:none;}

.dir.reglew[class][class]{background-image:none;}}

.irqavcc[class][class]{height:0;width:0;position:absolute;}

@supports (object-fit:cover){
.irqavcc[class][class]{height:100%;width:100%;position:static;}}

.aeefpnc[class][class]{position:absolute;top:0;bottom:0;}

.dir.aeefpnc[class][class]{left:0;right:0;}

.i1o0kbi8[class][class]{height:0;width:0;position:absolute;}

@supports (object-fit:cover){
.i1o0kbi8[class][class]{height:100%;width:100%;}}

@supports (aspect-ratio:1 / 1){
.a1o9zzw7[class][class]{height:100%;width:100%;position:unset;}}

@supports not (aspect-ratio:1 / 1){
.a1o9zzw7[class][class]{position:absolute;top:0;bottom:0;}

.dir.a1o9zzw7[class][class]{left:0;right:0;}}

.if2lqpm[class][class]{height:100%;width:100%;position:static;}

.i1o5a56p[class][class]{contain:paint;}

@supports (aspect-ratio:1 / 1){
.p1op1iyv[class][class]{height:100%;width:100%;}}
.o3xt00z[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;}

.dir.o3xt00z[class][class]{right:0;left:0;background:var(--f-k-smk-x);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:overlayEnter-o3xt00z;}

@media (min-width:744px){
.dir.o3xt00z[class][class]{background:rgba(0,0,0,0.75);}}

@media (min-width:744px){
.dir.o3xt00z[class][class]{background:transparent;}}

@keyframes overlayEnter-o3xt00z{
0%{opacity:0;}

100%{opacity:0.6;}}

.dir.o12cb3rn[class][class]{animation-name:overlayLeave-o12cb3rn;}

@keyframes overlayLeave-o12cb3rn{
0%{opacity:0.6;}

100%{opacity:0;}}
.c1ux8db0[class][class]{position:absolute;display:flex;top:16px;z-index:1;top:24px;}

.dir-ltr.c1ux8db0[class][class]{left:24px;left:24px;}

.dir-rtl.c1ux8db0[class][class]{right:24px;right:24px;}

@media (min-width:744px){
.c1ux8db0[class][class]{top:24px;}}
.bgo3i2z[class][class]{flex:1 1 auto;overflow-y:auto;-webkit-overflow-scrolling:touch;outline:none;}

.dir.bgo3i2z[class][class]{padding:24px;}

.dir.bgo3i2z[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.bgo3i2z[class][class]:focus::-moz-focus-inner{border:none;}

.bgo3i2z[class][class]:-moz-focusring{outline:none;}

.dir.bgo3i2z[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x),var(--e-swdx-p);}

@media (prefers-reduced-motion:reduce){
.dir.bgo3i2z[class][class]:focus-visible{transition:none;}}

.dir.bgo3i2z[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px var(--f-k-smk-x),var(--e-swdx-p);}

@media (prefers-reduced-motion:reduce){
.dir.bgo3i2z[class][class]:focus[data-focus-visible-added]{transition:none;}}
