.h1u18jch[class][class]{display:flex;flex:0 0 auto;align-items:center;justify-content:space-between;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;min-height:48px;color:var(--f-k-smk-x);font-size:var(--iw-ehf-f);line-height:var(---s-l-myu);font-weight:var(--h-oqhch);}

.dir.h1u18jch[class][class]{border-bottom:1px solid var(--d-nc-lt-s);padding-top:0;padding-bottom:0;padding-left:24px;padding-right:24px;}

@media (min-width:744px){
.h1u18jch[class][class]{min-height:64px;}}

.l11o5x9p[class][class]{flex-grow:0;flex-shrink:0;flex-basis:16px;}

.dir-ltr.l11o5x9p[class][class]{text-align:left;}

.dir-rtl.l11o5x9p[class][class]{text-align:right;}

.cwzxwjg[class][class]{overflow:hidden;flex-grow:0;flex-shrink:1;flex-basis:auto;}

.dir.cwzxwjg[class][class]{text-align:center;margin-left:16px;margin-right:16px;}

.ebq526p[class][class]{overflow:hidden;text-overflow:ellipsis;}

.t1p58pdz[class][class]{flex-grow:0;flex-shrink:0;flex-basis:16px;}

.dir-ltr.t1p58pdz[class][class]{text-align:right;}

.dir-rtl.t1p58pdz[class][class]{text-align:left;}
.hghzvl1[class][class]{color:inherit;font-size:1em;font-weight:inherit;line-height:inherit;}

.dir.hghzvl1[class][class]{margin:0;padding:0;}

.hghzvl1[class][class]:focus{outline:0;}

.i1wofiac[class][class]{display:inline;}

.spipapi[class][class]{contain:paint;}
