.boaltu9[class][class]{font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;font-feature-settings:inherit;font-variant:inherit;line-height:inherit;color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

@media (hover:hover){
.boaltu9[class][class]:hover{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.dir.boaltu9[class][class]:hover{cursor:pointer;}}

.boaltu9[class][class]:focus{color:inherit;-webkit-text-decoration:underline;text-decoration:underline;}

.ffzwuj8[class][class]{width:100%;display:block;}

.sbi8dxt[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.sbi8dxt[class][class]:not(:focus){border:0;padding:0;}

.c19rgdxi[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;outline:none;}

.dir.c19rgdxi[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.c19rgdxi[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.c19rgdxi[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.dir.c19rgdxi[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c19rgdxi[class][class]:focus::-moz-focus-inner{border:none;}

.c19rgdxi[class][class]:-moz-focusring{outline:none;}

.c19rgdxi[class][class]:focus-visible{color:var(--f-k-smk-x);}

.dir.c19rgdxi[class][class]:focus-visible{border-radius:var(--h-l-f-om-o);transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c19rgdxi[class][class]:focus-visible{transition:none;}}

.c19rgdxi[class][class]:focus[data-focus-visible-added]{color:var(--f-k-smk-x);}

.dir.c19rgdxi[class][class]:focus[data-focus-visible-added]{border-radius:var(--h-l-f-om-o);transition:box-shadow 0.2s ease;box-shadow:0 0 0 2px rgb(255,255,255),0 0 0 4px var(--f-k-smk-x);}

@media (prefers-reduced-motion:reduce){
.dir.c19rgdxi[class][class]:focus[data-focus-visible-added]{transition:none;}}

@media (hover:hover){
.c19rgdxi[class][class]:hover{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:hover:disabled{color:var(--j-qkgmf);-webkit-text-decoration:none;text-decoration:none;}}

.c19rgdxi[class][class]:active{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:focus{color:var(--f-k-smk-x);-webkit-text-decoration:none;text-decoration:none;}

.c19rgdxi[class][class]:disabled{color:var(--j-qkgmf);-webkit-text-decoration:none;text-decoration:none;}
.c1ceetia[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;}

.dir.c1ceetia[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.c1ceetia[class][class]:focus-visible{outline:none;}

.dir.c1ceetia[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1ceetia[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ceetia[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c1ceetia[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ceetia[class][class]:focus-visible{transition:none;}}

.c1ceetia[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c1ceetia[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c1ceetia[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ceetia[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c1ceetia[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ceetia[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c1ceetia[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c1ceetia[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c1ceetia[class][class]{transition:none;}}

@media (hover:hover){
.c1ceetia[class][class]:hover{color:var(--bgxgx);}

.dir.c1ceetia[class][class]:hover::before{background:var(---pc-g-v-g);}

.c1ceetia[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c1ceetia[class][class]:hover:disabled::before{background:transparent;}}

.c1ceetia[class][class]:active{color:var(--bgxgx);}

.dir.c1ceetia[class][class]:active{transform:scale(0.92);}

.dir.c1ceetia[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.c1ceetia[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c1ceetia[class][class]:focus::-moz-focus-inner{border:none;}

.c1ceetia[class][class]:-moz-focusring{outline:none;}

.dir.c1ceetia[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ceetia[class][class]:focus-visible{transition:none;}}

.dir.c1ceetia[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.c1ceetia[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c1ceetia[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c1ceetia[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.c1ceetia[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c1ceetia[class][class]:disabled::before{background:transparent;}

.c1ceetia[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.c1ceetia[class][class]::before{border-radius:50%;}

.dir-ltr.c1ceetia[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.c1ceetia[class][class]::before{right:50%;transform:translate(50%,-50%);}

.c1ceetia[class][class]::before{width:48px;height:48px;}

.i9103oq[class][class]{position:relative;}

.bsm5y6t[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bsm5y6t[class][class]:not(:focus){border:0;padding:0;}

.b1ja59kh[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1ja59kh[class][class]:not(:focus){border:0;padding:0;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.tyo2fgq[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tyo2fgq[class][class]{left:0;right:0;}

.t1setlb[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;}

.dir.t1setlb[class][class]{background-size:200% 200%;transition:opacity 1.25s;}

.dir-ltr.t1setlb[class][class]{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir-rtl.t1setlb[class][class]{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);}

.t1setlb[class][class]:hover{opacity:1;}

.t1setlb[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t1setlb[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.cbx4cei[class][class]{display:block;position:relative;pointer-events:none;}

.l1j9v1wn[class][class].dir-rtl[class][class]{--dc-gy-f-v:var(--bb-gov-t);--gj-z-dpd:var(--fb-hdaf);--iqds-nv:var(--dy-k-qzx);}
