.l17sq0pe[class][class]{position:relative;}

.dir.l17sq0pe[class][class]{padding-top:48px;}

.leegh8d[class][class]{position:relative;}

.dir.leegh8d[class][class]{padding-top:2px;}

.f1vsibyw[class][class]{outline:none;}

.dir.f1vsibyw[class][class]:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x);border-radius:var(--go-h-jh-l);}

.dir.f1vsibyw[class][class]:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x);border-radius:var(--go-h-jh-l);}
.c181pwgx[class][class]{max-width:688px;}

.dir.c181pwgx[class][class]{margin:0 auto;}
.dir.fwqd6yv[class][class]{margin:0 2px;}

.h1d28d1l[class][class]{outline:none;}

.dir.f1pcu7ep[class][class]:focus-visible{box-shadow:0 0 0 2px var(--f-k-smk-x);border-radius:var(--go-h-jh-l);}

.dir.f1pcu7ep[class][class]:focus[data-focus-visible-added]{box-shadow:0 0 0 2px var(--f-k-smk-x);border-radius:var(--go-h-jh-l);}

.i5frlu4[class][class]{max-width:688px;}
.t1l9hlim[class][class]{flex-grow:1;flex-basis:10px;display:flex;flex-direction:column;width:100%;height:100%;}

.dir.t1l9hlim[class][class]{padding-bottom:env(safe-area-inset-bottom,0);background-color:#FFFFFF;}

@media screen{
.i1ynmyjr[class][class]{flex:1 1 auto;position:relative;}

.dir.i1ynmyjr[class][class]{padding-top:24px;}}

@media (min-width:744px){
.dir.i1ynmyjr[class][class].i1ynmyjr[class][class].i1ynmyjr[class][class]{padding-top:0;}}

@media screen{
.i1lufp5f[class][class]{position:absolute;top:0;bottom:0;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}

.dir.i1lufp5f[class][class]{left:0;right:0;}}

.i1o7vrwv[class][class]{flex:0 0 auto;}

.s1vske2m[class][class]{display:flex;flex-direction:column-reverse;position:absolute;bottom:0;width:calc(100% - 16px);}

.dir.s1vske2m[class][class]{background:#FFFFFF;}

.dir-ltr.s1vske2m[class][class]{left:0;}

.dir-rtl.s1vske2m[class][class]{right:0;}
