.w1y25zdv[class][class].i144hzgs[class][class] .c1mzlq0d[class][class]{color:var(--f-mkcy-f);}

.dir.w1y25zdv[class][class].i144hzgs[class][class] .c1mzlq0d[class][class]{background-color:var(--fhi-qn-u);border-radius:50%;}








.i144hzgs[class][class]{display:inline-flex;contain:layout;width:100%;}

.dir.i144hzgs[class][class]{border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);border-radius:12px;padding:16px;}

.dir-ltr.i144hzgs[class][class] .ccmqn89[class][class]{margin-right:12px;}

.dir-rtl.i144hzgs[class][class] .ccmqn89[class][class]{margin-left:12px;}

.i144hzgs[class][class] .c1mzlq0d[class][class]{width:44px;height:44px;display:flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);}

.i144hzgs[class][class] .hk7fm8a[class][class]{color:var(--f-k-smk-x);font-weight:var(--h-oqhch);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.i144hzgs[class][class] .hk7fm8a[class][class]{margin-bottom:4px;}

.i144hzgs[class][class] .m1g17ezz[class][class]{color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.i144hzgs[class][class] .h1q6ioub[class][class]{color:var(--fo-jk-r-s);}

.i144hzgs[class][class] .a106r80v[class][class]{display:inline-flex;}

.dir.i144hzgs[class][class] .a106r80v[class][class]{margin-top:12px;}

.dir-ltr.i144hzgs[class][class] .ady5cna[class][class]{margin-right:20px;}

.dir-rtl.i144hzgs[class][class] .ady5cna[class][class]{margin-left:20px;}
