.o30qrr6[class][class]{z-index:2000;position:fixed;top:0;bottom:0;overflow-y:auto;-webkit-overflow-scrolling:touch;background:transparent;}

.dir.o30qrr6[class][class]{right:0;left:0;background:var(--f-k-smk-x);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:overlayEnter-o30qrr6;}

@media (min-width:744px){
.dir.o30qrr6[class][class]{background:rgba(0,0,0,0.75);}}

@media (min-width:744px){
.dir.o30qrr6[class][class]{background:var(--f-k-smk-x);}}

@keyframes overlayEnter-o30qrr6{
0%{opacity:0;}

100%{opacity:0.6;}}

.dir.om9v1kz[class][class]{animation-name:overlayLeave-om9v1kz;}

@keyframes overlayLeave-om9v1kz{
0%{opacity:0.6;}

100%{opacity:0;}}
.c1wj82si[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);display:flex;flex-direction:row;align-items:flex-end;justify-content:center;}

.dir.c1wj82si[class][class]{right:0;left:0;padding-top:calc(var(--b-y-unon) + env(safe-area-inset-top,0));}

@supports (max-height:-webkit-fill-available){
.c1wj82si[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

@media (min-width:744px) and (min-height:475px){
.c1wj82si[class][class]{align-items:center;}

.dir.c1wj82si[class][class]{padding:40px;}}

@media screen and (-ms-high-contrast:active),screen and (-ms-high-contrast:none){
.c1wj82si[class][class]{align-items:stretch;}}

.d1esrtf4[class][class]{background:white;overflow:clip;position:relative;width:100vw;max-width:100vw;max-height:100%;display:flex;flex-direction:column;}

.dir.d1esrtf4[class][class]{background:var(--f-mkcy-f);box-shadow:var(--jx-b-v-zt);border-top-left-radius:var(--i-g-gvoq);border-top-right-radius:var(--i-g-gvoq);animation-duration:400ms;animation-iteration-count:1;animation-fill-mode:both;animation-name:slideEnter-d1esrtf4;}

@supports not (overflow:clip){
.d1esrtf4[class][class]{overflow:hidden;}}

.d1esrtf4[class][class]:focus{outline:none;}

@media (min-width:744px){
.d1esrtf4[class][class]{width:100%;max-width:568px;}

.dir.d1esrtf4[class][class]{border-radius:var(--i-g-gvoq);}}

@keyframes slideEnter-d1esrtf4{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

@media (prefers-reduced-motion:reduce){
.dir.d1esrtf4[class][class]{animation-name:fadeEnter-d1esrtf4;}

@keyframes fadeEnter-d1esrtf4{
0%{opacity:0;}

100%{opacity:1;}}}

.dir.d1l1v508[class][class]{animation-name:slideLeave-d1l1v508;}

@keyframes slideLeave-d1l1v508{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

@media (prefers-reduced-motion:reduce){
.dir.d1l1v508[class][class]{animation-name:fadeLeave-d1l1v508;}

@keyframes fadeLeave-d1l1v508{
0%{opacity:1;}

100%{opacity:0;}}}
.f1cwbdmm[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.f1cwbdmm[class][class]{border:0;padding:0;margin-top:-1px;}

.pzqlnu[class][class]{display:contents;}
.c10hl6ue[class][class]{position:absolute;display:flex;top:16px;z-index:1;}

.dir-ltr.c10hl6ue[class][class]{left:24px;}

.dir-rtl.c10hl6ue[class][class]{right:24px;}

@media (min-width:744px){
.c10hl6ue[class][class]{top:24px;}}
.czcfm7x[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;}

.dir.czcfm7x[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.czcfm7x[class][class]:focus-visible{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.czcfm7x[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.czcfm7x[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.czcfm7x[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]{transition:none;}}

@media (hover:hover){
.czcfm7x[class][class]:hover{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:hover::before{background:var(---pc-g-v-g);}

.czcfm7x[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:hover:disabled::before{background:transparent;}}

.czcfm7x[class][class]:active{color:var(--bgxgx);}

.dir.czcfm7x[class][class]:active{transform:scale(0.92);}

.dir.czcfm7x[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.czcfm7x[class][class]:focus::-moz-focus-inner{border:none;}

.czcfm7x[class][class]:-moz-focusring{outline:none;}

.dir.czcfm7x[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus-visible{transition:none;}}

.dir.czcfm7x[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.czcfm7x[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.czcfm7x[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.czcfm7x[class][class]:disabled{color:var(--j-qkgmf);}

.dir.czcfm7x[class][class]:disabled::before{background:transparent;}

.czcfm7x[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.czcfm7x[class][class]::before{border-radius:50%;}

.dir-ltr.czcfm7x[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.czcfm7x[class][class]::before{right:50%;transform:translate(50%,-50%);}

.czcfm7x[class][class]::before{width:32px;height:32px;}

.i1h5tsj6[class][class]{position:relative;}

.b3tjjh1[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b3tjjh1[class][class]:not(:focus){border:0;padding:0;}

.b14e81y7[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b14e81y7[class][class]:not(:focus){border:0;padding:0;}
.l1tdvn0e[class][class]{-webkit-appearance:none;appearance:none;-webkit-user-select:auto;user-select:auto;}

.dir.l1tdvn0e[class][class]{background:transparent;border:0;cursor:pointer;margin:0;padding:0;}

.dir.l1tdvn0e[class][class]:disabled{cursor:not-allowed;}

@media (hover:hover){
.l1tdvn0e[class][class]:disabled:hover{-webkit-text-decoration:none;text-decoration:none;}}

.b55s2dl[class][class]{display:inline-block;position:relative;-webkit-text-decoration:none;text-decoration:none;width:auto;color:black;font-size:14px;font-family:inherit;touch-action:manipulation;}

.dir.b55s2dl[class][class]{cursor:pointer;margin:0;text-align:center;border-width:1px;border-style:solid;border-color:black;padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;background:lightgrey;}

.b55s2dl[class][class]:disabled{opacity:0.3;}

.dir.b55s2dl[class][class]:disabled{cursor:not-allowed;}
.tyo2fgq[class][class]{position:absolute;top:0;bottom:0;width:100%;height:100%;overflow:hidden;-webkit-mask-image:-webkit-radial-gradient(white,black);mask-image:-webkit-radial-gradient(white,black);}

.dir.tyo2fgq[class][class]{left:0;right:0;}

.t1setlb[class][class]{display:block;width:100%;height:100%;min-width:200px;opacity:0;}

.dir.t1setlb[class][class]{background-size:200% 200%;transition:opacity 1.25s;}

.dir-ltr.t1setlb[class][class]{background-image:linear-gradient(to right,black 0%,white 50%,black 100%);}

.dir-rtl.t1setlb[class][class]{background-image:linear-gradient(to left,black 0%,white 50%,black 100%);}

.t1setlb[class][class]:hover{opacity:1;}

.t1setlb[class][class]:active{-webkit-transition:-webkit-transform 2s,opacity 2s;opacity:0;}

.dir.t1setlb[class][class]:active{transition:transform 2s,opacity 2s;transform:scale(5);}

.cbx4cei[class][class]{display:block;position:relative;pointer-events:none;}

.l1j9v1wn[class][class].dir-rtl[class][class]{--dc-gy-f-v:var(--bb-gov-t);--gj-z-dpd:var(--fb-hdaf);--iqds-nv:var(--dy-k-qzx);}
.at5sn3l[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.at5sn3l[class][class]{border:0;padding:0;margin-top:-1px;}
