.t5jos5n[class][class]{font-size:0;}

.dir.t5jos5n[class][class]{animation-duration:500ms;animation-iteration-count:1;animation-fill-mode:both;}

.dir.s1bmg94k[class][class]{animation-name:slideEnter-s1bmg94k;}

@keyframes slideEnter-s1bmg94k{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

.dir.f1i7e2pi[class][class]{animation-name:fadeEnter-f1i7e2pi;}

@keyframes fadeEnter-f1i7e2pi{
0%{opacity:0;}

100%{opacity:1;}}

.dir.s1usbchi[class][class]{animation-name:slideLeave-s1usbchi;}

@keyframes slideLeave-s1usbchi{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

.dir.f7bqzbw[class][class]{animation-name:fadeLeave-f7bqzbw;}

@keyframes fadeLeave-f7bqzbw{
0%{opacity:1;}

100%{opacity:0;}}

.dzp1crl[class][class]{position:absolute;}

.dir-ltr.dzp1crl[class][class]{right:0;}

.dir-rtl.dzp1crl[class][class]{left:0;}

.dzp1crl[class][class]:not(:focus-within){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.dzp1crl[class][class]:not(:focus-within){border:0;padding:0;}

.dye25kp[class][class]{font-size:18px;}

.dir.dye25kp[class][class]{padding:6px;background-color:white;}

.tlsg3u0[class][class]{position:relative;display:flex;flex-direction:row;align-items:center;}
.c1pyv925[class][class]{color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;touch-action:manipulation;}

.dir.c1pyv925[class][class]{background:transparent;border:none;cursor:pointer;margin:0;padding:0;text-align:inherit;}
.c1svxiqn[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1svxiqn[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1svxiqn[class][class]{padding-left:16px;}

.dir-rtl.c1svxiqn[class][class]{padding-right:16px;}

.c1ptyiyo[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;color:var(--k-va-tnc);}

.dir.c1ptyiyo[class][class]{margin-top:12px;}

.dir-ltr.c1ptyiyo[class][class]{padding-right:8px;}

.dir-rtl.c1ptyiyo[class][class]{padding-left:8px;}

.m1phv0bt[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.mfi4dj5[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.mfi4dj5[class][class]{margin-top:12px;}

.dir-ltr.mfi4dj5[class][class]{margin-right:16px;}

.dir-rtl.mfi4dj5[class][class]{margin-left:16px;}

.dir.c1wbeta1[class][class]{margin-top:6px;}

.dir-ltr.c1wbeta1[class][class]{margin-right:16px;}

.dir-rtl.c1wbeta1[class][class]{margin-left:16px;}
.c1g7t51g[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1g7t51g[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1g7t51g[class][class]{padding-left:16px;}

.dir-rtl.c1g7t51g[class][class]{padding-right:16px;}

.c1btyv8m[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;}

.dir.c1btyv8m[class][class]{margin-top:12px;}

.dir-ltr.c1btyv8m[class][class]{padding-right:8px;}

.dir-rtl.c1btyv8m[class][class]{padding-left:8px;}

.m1gmr2ly[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m6n2ow2[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.m6n2ow2[class][class]{margin-top:12px;}

.dir-ltr.m6n2ow2[class][class]{margin-right:16px;}

.dir-rtl.m6n2ow2[class][class]{margin-left:16px;}

.dir.c1e276u6[class][class]{margin-top:6px;}

.dir-ltr.c1e276u6[class][class]{margin-right:16px;}

.dir-rtl.c1e276u6[class][class]{margin-left:16px;}
