.c1yxizbm[class][class]{z-index:2000;position:fixed;top:0;bottom:0;max-height:calc(var(--vh,1vh) * 100);}

.dir.c1yxizbm[class][class]{right:0;left:0;}

@supports (max-height:-webkit-fill-available){
.c1yxizbm[class][class]{max-height:max(-webkit-fill-available,calc(var(--vh,1vh) * 100));}}

.d1rbqnus[class][class]{background:white;overflow:clip;position:relative;height:100%;max-height:100%;width:100vw;max-width:100vw;display:flex;flex-direction:column;}

.dir.d1rbqnus[class][class]{background:var(--f-mkcy-f);}

@supports not (overflow:clip){
.d1rbqnus[class][class]{overflow:hidden;}}

.d1rbqnus[class][class]:focus{outline:none;}



.c8b335v[class][class]{-webkit-appearance:none;appearance:none;display:inline-block;border:0;outline:0;margin:-7px;padding:7px;color:buttontext;touch-action:manipulation;display:inline-block;position:relative;color:var(--f-k-smk-x);-webkit-transition:-webkit-transform 0.25s ease;outline:none;color:var(--f-mkcy-f);outline:none;}

.dir.c8b335v[class][class]{border-radius:50%;background-color:transparent;cursor:pointer;padding:0;margin:0;border:none;background:transparent;transition:transform 0.25s ease;}

.c8b335v[class][class]:focus-visible{outline:none;}

.dir.c8b335v[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c8b335v[class][class]:focus-visible::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c8b335v[class][class]:focus-visible:focus::-moz-focus-inner{border:none;}

.c8b335v[class][class]:focus-visible:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]:focus-visible{transition:none;}}

.c8b335v[class][class]:focus[data-focus-visible-added]{outline:none;}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:0 0 0 1px rgba(0,0,0,0.5),0 0 0 5px rgba(255,255,255,0.7);}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner{border:none;}

.c8b335v[class][class]:focus[data-focus-visible-added]:-moz-focusring{outline:none;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]:focus[data-focus-visible-added]{transition:none;}}

.c8b335v[class][class]:disabled{opacity:0.5;color:graytext;}

.dir.c8b335v[class][class]:disabled{cursor:not-allowed;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]{transition:none;}}

@media (hover:hover){
.c8b335v[class][class]:hover{color:var(--bgxgx);}

.dir.c8b335v[class][class]:hover::before{background:var(---pc-g-v-g);}

.c8b335v[class][class]:hover:disabled{color:var(--j-qkgmf);}

.dir.c8b335v[class][class]:hover:disabled::before{background:transparent;}}

.c8b335v[class][class]:active{color:var(--bgxgx);}

.dir.c8b335v[class][class]:active{transform:scale(0.92);}

.dir.c8b335v[class][class]:active::before{background:var(---pc-g-v-g);}

.dir.c8b335v[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c8b335v[class][class]:focus::-moz-focus-inner{border:none;}

.c8b335v[class][class]:-moz-focusring{outline:none;}

.dir.c8b335v[class][class]:focus-visible{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]:focus-visible{transition:none;}}

.dir.c8b335v[class][class]:focus-visible::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;box-shadow:none;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]::before{box-shadow:0 0 0 2px var(--f-k-smk-x),0 0 0 4px rgba(255,255,255,0.8);background:var(---pc-g-v-g);}

.c8b335v[class][class]:disabled{color:var(--j-qkgmf);}

.dir.c8b335v[class][class]:disabled::before{background:transparent;}

.c8b335v[class][class]::before{content:'';display:block;position:absolute;top:50%;width:32px;height:32px;}

.dir.c8b335v[class][class]::before{border-radius:50%;}

.dir-ltr.c8b335v[class][class]::before{left:50%;transform:translate(-50%,-50%);}

.dir-rtl.c8b335v[class][class]::before{right:50%;transform:translate(50%,-50%);}

.dir.c8b335v[class][class]::before{background:transparent;}

@media (hover:hover){
.c8b335v[class][class]:hover{color:var(--f-mkcy-f);}

.dir.c8b335v[class][class]:hover::before{background:#4a4a4a;}

.c8b335v[class][class]:hover:disabled{color:#878787;opacity:1;}

.dir.c8b335v[class][class]:hover:disabled::before{background:#4a4a4a;}}

.c8b335v[class][class]:active{color:var(--f-mkcy-f);}

.dir.c8b335v[class][class]:active::before{background:#4a4a4a;}

.c8b335v[class][class]:disabled{color:#878787;opacity:1;}

.dir.c8b335v[class][class]:disabled::before{background:#4a4a4a;}

.dir.c8b335v[class][class]::-moz-focus-inner{border:none;padding:0;margin:0;}

.dir.c8b335v[class][class]:focus::-moz-focus-inner{border:none;}

.c8b335v[class][class]:-moz-focusring{outline:none;}

.dir.c8b335v[class][class]:focus-visible{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]:focus-visible{transition:none;}}

.dir.c8b335v[class][class]:focus-visible::before{background:transparent;box-shadow:0 0 0 2px var(--f-mkcy-f);}

@media (hover:hover){
.c8b335v[class][class]:focus-visible:hover{color:var(--f-mkcy-f);}}

.c8b335v[class][class]:focus-visible:active{color:var(--f-mkcy-f);}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]{transition:box-shadow 0.2s ease;}

@media (prefers-reduced-motion:reduce){
.dir.c8b335v[class][class]:focus[data-focus-visible-added]{transition:none;}}

.dir.c8b335v[class][class]:focus[data-focus-visible-added]::before{background:transparent;box-shadow:0 0 0 2px var(--f-mkcy-f);}

@media (hover:hover){
.c8b335v[class][class]:focus[data-focus-visible-added]:hover{color:var(--f-mkcy-f);}}

.c8b335v[class][class]:focus[data-focus-visible-added]:active{color:var(--f-mkcy-f);}

.c8b335v[class][class]::before{width:32px;height:32px;}

.i1evy5ue[class][class]{position:relative;}

.b1mex0yk[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.b1mex0yk[class][class]:not(:focus){border:0;padding:0;}

.bwqzqvs[class][class]:not(:focus){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.bwqzqvs[class][class]:not(:focus){border:0;padding:0;}
.c1yo0219[class][class]::before{display:flex;content:'';}

.c1yo0219[class][class]::after{display:flex;content:'';}

.czflfi7[class][class]{display:contents;}
.at5sn3l[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.at5sn3l[class][class]{border:0;padding:0;margin-top:-1px;}
.c10hl6ue[class][class]{position:absolute;display:flex;top:16px;z-index:1;}

.dir-ltr.c10hl6ue[class][class]{left:24px;}

.dir-rtl.c10hl6ue[class][class]{right:24px;}

@media (min-width:744px){
.c10hl6ue[class][class]{top:24px;}}
.f1cwbdmm[class][class]{-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.f1cwbdmm[class][class]{border:0;padding:0;margin-top:-1px;}

.pzqlnu[class][class]{display:contents;}
