.b1tkltig[class][class]{overflow-y:auto;}

.dir.b1tkltig[class][class]{margin-top:32px;}

.dir-ltr.b1tkltig[class][class]{margin-right:-24px;padding-right:24px;}

.dir-rtl.b1tkltig[class][class]{margin-left:-24px;padding-left:24px;}

.b6xqev8[class][class]{box-sizing:border-box;height:552px;}

.b12t9v7a[class][class]{box-sizing:border-box;min-height:552px;}

.byoimg2[class][class]{box-sizing:content-box;}

.dir.byoimg2[class][class]{padding-bottom:82px;}

.bgwr7in[class][class]{max-width:400px;width:80vw;}
