.cp6mbd[class][class]{display:flex;flex-direction:row;align-items:center;justify-content:center;pointer-events:none;}

.dir-ltr.l1eg0r9t[class][class]{margin-left:0;margin-right:8px;}

.dir-rtl.l1eg0r9t[class][class]{margin-right:0;margin-left:8px;}

.dir-ltr.t1fl7a92[class][class]{margin-left:8px;margin-right:0;}

.dir-rtl.t1fl7a92[class][class]{margin-right:8px;margin-left:0;}
