.t5jos5n[class][class]{font-size:0;}

.dir.t5jos5n[class][class]{animation-duration:500ms;animation-iteration-count:1;animation-fill-mode:both;}

.dir.s1bmg94k[class][class]{animation-name:slideEnter-s1bmg94k;}

@keyframes slideEnter-s1bmg94k{
0%{opacity:0;transform:translate(0,100%);}

100%{opacity:1;transform:none;}}

.dir.f1i7e2pi[class][class]{animation-name:fadeEnter-f1i7e2pi;}

@keyframes fadeEnter-f1i7e2pi{
0%{opacity:0;}

100%{opacity:1;}}

.dir.s1usbchi[class][class]{animation-name:slideLeave-s1usbchi;}

@keyframes slideLeave-s1usbchi{
0%{opacity:1;transform:none;}

100%{opacity:0;transform:translate(0,100%);}}

.dir.f7bqzbw[class][class]{animation-name:fadeLeave-f7bqzbw;}

@keyframes fadeLeave-f7bqzbw{
0%{opacity:1;}

100%{opacity:0;}}

.dzp1crl[class][class]{position:absolute;}

.dir-ltr.dzp1crl[class][class]{right:0;}

.dir-rtl.dzp1crl[class][class]{left:0;}

.dzp1crl[class][class]:not(:focus-within){-webkit-clip:rect(0 0 0 0);clip:rect(0 0 0 0);-webkit-clip-path:inset(100%);clip-path:inset(100%);height:1px;overflow:hidden;overflow:clip;position:absolute;white-space:nowrap;width:1px;}

.dir.dzp1crl[class][class]:not(:focus-within){border:0;padding:0;}

.dye25kp[class][class]{font-size:18px;}

.dir.dye25kp[class][class]{padding:6px;background-color:white;}

.tlsg3u0[class][class]{position:relative;display:flex;flex-direction:row;align-items:center;}
.c1pyv925[class][class]{color:inherit;display:block;-webkit-text-decoration:none;text-decoration:none;height:100%;width:100%;touch-action:manipulation;}

.dir.c1pyv925[class][class]{background:transparent;border:none;cursor:pointer;margin:0;padding:0;text-align:inherit;}
.c119yg0h[class][class]{display:inline-flex;contain:layout;max-width:375px;}

.dir.c119yg0h[class][class]{border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);border-radius:12px;padding:16px;box-shadow:var(--ih-jiz-p);}

.dir-ltr.c1jb18w0[class][class]{margin-right:12px;}

.dir-rtl.c1jb18w0[class][class]{margin-left:12px;}

.c1mx7kc4[class][class]{width:44px;height:44px;display:flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);color:var(--f-mkcy-f);background-color:var(--f-k-smk-x);border-radius:50%;color:var(--f-mkcy-f);}

.dir.c1mx7kc4[class][class]{background-color:var(--k-va-tnc);border-radius:50%;}

.mflwsjl[class][class]{min-width:0;}

.m1pco9ml[class][class]{color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);overflow-wrap:break-word;}

.a1wbqtf7[class][class]{display:inline-flex;}

.dir.a1wbqtf7[class][class]{margin-top:12px;}

.dir-ltr.a1vp9ve8[class][class]{margin-right:20px;}

.dir-rtl.a1vp9ve8[class][class]{margin-left:20px;}

.dir-ltr.cjebm9f[class][class]{margin-left:12px;}

.dir-rtl.cjebm9f[class][class]{margin-right:12px;}

.htcl193[class][class]{color:var(--f-k-smk-x);font-weight:var(--h-oqhch);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.htcl193[class][class]{margin-bottom:4px;}

.h12nu6di[class][class]{color:var(--fo-jk-r-s);}
.c15qq9wc[class][class]{display:inline-flex;contain:layout;max-width:375px;}

.dir.c15qq9wc[class][class]{border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);border-radius:12px;padding:16px;box-shadow:var(--ih-jiz-p);}

.dir-ltr.cw3syxl[class][class]{margin-right:12px;}

.dir-rtl.cw3syxl[class][class]{margin-left:12px;}

.cl1z3k4[class][class]{width:44px;height:44px;display:flex;align-items:center;justify-content:center;color:var(--f-k-smk-x);color:var(--f-mkcy-f);}

.dir.cl1z3k4[class][class]{background-color:var(--f-k-smk-x);border-radius:50%;}

.m155y578[class][class]{min-width:0;}

.m1xeg9um[class][class]{color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);overflow-wrap:break-word;}

.ac8clna[class][class]{display:inline-flex;}

.dir.ac8clna[class][class]{margin-top:12px;}

.dir-ltr.a1nmbdgw[class][class]{margin-right:20px;}

.dir-rtl.a1nmbdgw[class][class]{margin-left:20px;}

.dir-ltr.c1pb09q7[class][class]{margin-left:12px;}

.dir-rtl.c1pb09q7[class][class]{margin-right:12px;}

.h1xvaovl[class][class]{color:var(--f-k-smk-x);font-weight:var(--h-oqhch);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.dir.h1xvaovl[class][class]{margin-bottom:4px;}

.ht0gs0l[class][class]{color:var(--fo-jk-r-s);}
.c1g7t51g[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1g7t51g[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1g7t51g[class][class]{padding-left:16px;}

.dir-rtl.c1g7t51g[class][class]{padding-right:16px;}

.c1btyv8m[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;}

.dir.c1btyv8m[class][class]{margin-top:12px;}

.dir-ltr.c1btyv8m[class][class]{padding-right:8px;}

.dir-rtl.c1btyv8m[class][class]{padding-left:8px;}

.m1gmr2ly[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m6n2ow2[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.m6n2ow2[class][class]{margin-top:12px;}

.dir-ltr.m6n2ow2[class][class]{margin-right:16px;}

.dir-rtl.m6n2ow2[class][class]{margin-left:16px;}

.dir.c1e276u6[class][class]{margin-top:6px;}

.dir-ltr.c1e276u6[class][class]{margin-right:16px;}

.dir-rtl.c1e276u6[class][class]{margin-left:16px;}
