.c1svxiqn[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1svxiqn[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1svxiqn[class][class]{padding-left:16px;}

.dir-rtl.c1svxiqn[class][class]{padding-right:16px;}

.c1ptyiyo[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;color:var(--k-va-tnc);}

.dir.c1ptyiyo[class][class]{margin-top:12px;}

.dir-ltr.c1ptyiyo[class][class]{padding-right:8px;}

.dir-rtl.c1ptyiyo[class][class]{padding-left:8px;}

.m1phv0bt[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.mfi4dj5[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.mfi4dj5[class][class]{margin-top:12px;}

.dir-ltr.mfi4dj5[class][class]{margin-right:16px;}

.dir-rtl.mfi4dj5[class][class]{margin-left:16px;}

.dir.c1wbeta1[class][class]{margin-top:6px;}

.dir-ltr.c1wbeta1[class][class]{margin-right:16px;}

.dir-rtl.c1wbeta1[class][class]{margin-left:16px;}
.c1dp68o4[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c1dp68o4[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c1dp68o4[class][class]{padding-left:16px;}

.dir-rtl.c1dp68o4[class][class]{padding-right:16px;}

.cew8536[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;color:var(--k-ff-my-a);}

.dir.cew8536[class][class]{margin-top:12px;}

.dir-ltr.cew8536[class][class]{padding-right:8px;}

.dir-rtl.cew8536[class][class]{padding-left:8px;}

.m19ms3ma[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m32ayvt[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.m32ayvt[class][class]{margin-top:12px;}

.dir-ltr.m32ayvt[class][class]{margin-right:16px;}

.dir-rtl.m32ayvt[class][class]{margin-left:16px;}

.dir.cyxacnx[class][class]{margin-top:6px;}

.dir-ltr.cyxacnx[class][class]{margin-right:16px;}

.dir-rtl.cyxacnx[class][class]{margin-left:16px;}
.csee53t[class][class]{position:absolute;width:100%;height:100%;top:0;display:flex;pointer-events:none;flex-direction:column;justify-content:center;}

.ildy3qk[class][class]{height:60px;width:100%;}

.dir.ildy3qk[class][class]{margin-top:auto;}

.dir-ltr.ildy3qk[class][class]{background:linear-gradient(180deg,rgba(0,0,0,0) 30%,rgba(22,22,22,0.3) 100%);}

.dir-rtl.ildy3qk[class][class]{background:linear-gradient(-180deg,rgba(0,0,0,0) 30%,rgba(22,22,22,0.3) 100%);}

.dir.p17m7m5[class][class]{margin-top:auto;padding-top:60px;}
.ps1oiwe[class][class]{height:100%;width:100%;}
.c15vsz0f[class][class]{display:inline-flex;contain:content;max-width:375px;}

.dir.c15vsz0f[class][class]{box-shadow:var(--ih-jiz-p);border-radius:12px;border:1px solid var(--j-qkgmf);background-color:var(--f-mkcy-f);padding-bottom:12px;}

.dir-ltr.c15vsz0f[class][class]{padding-left:16px;}

.dir-rtl.c15vsz0f[class][class]{padding-right:16px;}

.c1sggabx[class][class]{display:flex;align-items:center;height:var(--j-p-z-kco);width:16px;box-sizing:content-box;color:var(--ldbkp-d);}

.dir.c1sggabx[class][class]{margin-top:12px;}

.dir-ltr.c1sggabx[class][class]{padding-right:8px;}

.dir-rtl.c1sggabx[class][class]{padding-left:8px;}

.m1ub06it[class][class]{display:flex;align-items:baseline;flex-flow:row wrap;color:var(--f-k-smk-x);font-size:var(--c-zdwk-p);line-height:var(--j-p-z-kco);}

.m1mdc6nh[class][class]{font-weight:var(--e-y-j-d-v-j);}

.dir.m1mdc6nh[class][class]{margin-top:12px;}

.dir-ltr.m1mdc6nh[class][class]{margin-right:16px;}

.dir-rtl.m1mdc6nh[class][class]{margin-left:16px;}

.dir.c1020ti4[class][class]{margin-top:6px;}

.dir-ltr.c1020ti4[class][class]{margin-right:16px;}

.dir-rtl.c1020ti4[class][class]{margin-left:16px;}
